.foot{
    height:250px;
    width:100%;
    background:#F5B273;
    position: absolute;  
    bottom:0px;
    .linophi{
        font-size:larger;
        margin-top:20px;
        margin-left:50%;
        color:black;
        font-weight:bold;
        box-shadow:-10px 0 0 0 #f58971;
    }
    .boxcontainer{
        margin-top:20px;
        margin-left:15%;
        overflow:hidden;
        zoom:1;
        .vertex{
            float:left;
            margin-top:20px;
            margin-left:15%;
            width:0;
            height:100px;
            border:solid 1px #e5e5e5;
            box-shadow:1px 1px 0.5px #929292;
        }
        .box{
            float:left;
            padding-left:10%;
            .ulist{
                font-weight:900;
                color:#f58971;
                .list{
                    font-weight:normal;
                   margin-top:5px;
                }
            }
        }
    }
    .boxcontainer:before,.boxcontainer:after{
        content:"";
        display:table;
    }
    .boxcontainer:after{
        clear:both;
    }
    a{
        color:#000;
        text-decoration:underline;
    }
    a:hover{
        color:#444;
        text-decoration:underline;
    }
    .copyright{
        margin-top:20px;
        margin-left:70%;
    }
}