.foot{
    height:250px;
    width:100%;
    background:#F5B273;
    .linophi{
        margin-top:-240px;
        margin-left:50%;
        color:black;
        font-weight:bold;
        box-shadow:-10px 0 0 0 #f58971;
    }
    .boxcontainer{
        margin-top:20px;
        margin-left:15%;
        overflow:hidden;
        zoom:1;
        .box{
            float:left;
            margin-left:20%;
            .ulist{
                font-weight:900;
                color:#f58971;
                .list{
                    font-weight:normal;
                    margin-top:5px;
                }
            }
        }
        .border{
            widht:2px;
            border-right:2px;
        }
    }
    .boxcontainer:before,.boxcontainer:after{
        content:"";
        display:table;
    }
    .boxcontainer:after{
        clear:both;
    }
    a{
        color:#000;
        text-decoration:underline;
    }
    a:hover{
        color:#444;
        text-decoration:underline;
    }
    .copyright{
        margin-top:20px;
        margin-left:70%;
    }
}