@import "../Color.less";

header {
    padding-top: 3px;
    background-color: @bg-color-2;;
    .search-container {
        margin: 7.5px 0 7.5px 0;
    }
    a {
        display: inline-block;
        width: 100px;
        color: #000 !important;
        text-decoration: none !important;
        text-align: center;
        font-weight: bold;
        box-sizing: border-box;
        border-bottom: none;
        .transition-property-mixin();
    }
    a:hover {
        color: #818181;
        border-bottom: 5px solid;
    }

    .menu {
        margin: 0 auto;
        overflow: hidden;
        width: 80%;

        .search {
            margin: 5px 0 5px 0;
            position: absolute;

            input {
                padding-left: 10%;
            }

            .search-text {
                .textbox-style-1-mixin;
                margin: 7.5px 0 7.5px 0;
                height: 20px;
                width: 200px;
                padding: 5px 10px;
                position: absolute;
                left: 10px;
                top: -6px;
                box-sizing: content-box;
                border: hidden !important;
                border-radius: 100px;
            }

            .search-text:focus {
                outline: none;
            }

            .search-text:hover {
                border: 2px #a4c6fd !important;
            }

            .search-button {
                border: 0;
                width: 20px;
                height: 25px;
                position: absolute;
                left: 200px;
                top: 5px;
            }

            .search-button:focus {
                outline: none;
            }
        }
    }
}

header {
    height: 45px;
    .search {
        float: left;
    }

    #dropmenu {
        float: right;

        ul {
            li {
                overflow: hidden;
                float: left;
                height: 50px;
                line-height: 40px;
                vertical-align: middle;
                display: inline-block;
            }

            &-submit-button {
                width: 150px;
                font-size: 15px;
                padding: 10px 30px;
                background-color: #696969;
                color: #888;
                display: block;
                margin: 30px auto 30px auto;
                vertical-align: middle;
            }
        }
    }

    div[class^="edit-editted-tag"] {
        .tag-style-mixin;
        margin-left: 5px;
        float: left;
        line-height: 21px;
        height: 22px;
        padding: 1px 6px 0;
        font-size: 11px;

        &:first-child {
            margin-left: 0;
        }

        > span[class^="edit-editted-tag-delete"] {
            padding-left: 10px;
            color: #333;
            cursor: pointer;

            #login {
                display: inline;
            }

            > span[class^="edit-editted-tag-count"] {
            }

            .login-form {
                float: right;
            }
        }
    }
}
