.header{
    margin:20px 150px;
    .search {
        margin-top:2%;
        margin-bottom:0;
        margin-left:10%;
	    float: left;
    }
    .menu-list{
        float:left;
        margin-left:60%;
    }
    .menu-list ul li{
        font-size:large;
        display:inline;
    }
    a{
        color:#000;
        text-decoration:underline;
    }
    align-content:hover{
        color:#444;
        text-decoration:underline;
    }

    .menu {
	    overflow: hidden;
    }

    /* clearfix */
    .menu:before,
    .menu:after {
        content: "";
        display: table;
    }
 
    .menu:after {
        clear: both;
    }
 
    /* For IE 6/7 (trigger hasLayout) */
    .menu {
        zoom: 1;
    }

}