@import "../Color.less";

header {
    padding-top: 3px;
    //background-color: @bg-color-2;
    background-color: @accent-light-color-2;
    border-bottom: 1px solid #f2f2f2;

    #dropmenu {
        float: right;

        ul {
            li {
                overflow: hidden;
                float: left;
                height: 50px;
                line-height: 40px;
                vertical-align: middle;
                display: inline-block;
            }
        }
    }

    a {
        display: inline-block;
        width: 100px;
        color: #000 !important;
        text-decoration: none !important;
        text-align: center;
        font-weight: bold;
        box-sizing: border-box;
        border-bottom: none;
        .transition-property-mixin();
    }

    a:hover {
        color: #818181;
        border-bottom: 5px solid;
    }

    .menu {
        margin: 0 auto;
        overflow: hidden;
        width: 80%;

        .search {
            margin: 5px 0 5px 0;
            position: absolute;

            .search-container {
                margin: 7.5px 0 7.5px 0;

            input {
                padding-left: 10%;
            }

            .search-text {
                    color: @textbox-style-1-color-fore;
                    background-color: #B0E0E6;
                margin: 7.5px 0 7.5px 0;
                height: 20px;
                width: 200px;
                padding: 5px 10px;
                position: absolute;
                left: 10px;
                top: -6px;
                box-sizing: content-box;
                border: hidden !important;
                border-radius: 100px;
            }

            .search-text:focus {
                outline: none;
            }

            .search-text:hover {
                border: 2px #a4c6fd !important;
                    background-color: #ADD8E6;
            }

            .search-button {
                border: 0;
                width: 20px;
                height: 25px;
                position: absolute;
                left: 200px;
                top: 5px;
            }

            .search-button:focus {
                outline: none;
            }
            }
        }
    }
}
