@import "../Color.less";

html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
}

.edit {

    &-bg-overlay {
        color: #888;
        width: 100%;
        clear:both;
    }

    &-tab-container {
        height: 3em;
        width: 100%;
        ul {
            position: absolute;
            top: 50px;
            right: 10%;
            height: 3em;
            width: 450px;
            li {
                cursor: pointer;
                float: left;
                width: 150px;
                height: 2em;
                padding-top: 1em;
                text-align: center;
                background-color: rgba(107, 107, 107, 0.4);
                &:before {
                    padding: 0 10px 0 0;
                    content: "❚";
                }
                &.selected {
                    background-color: transparent;
                }
            }

        }
    }

    &-content-bg {
        width: 100%;
    }

    &-title {
        width:70%;
        float:left;
        margin: 50px 0 0 9%;
        padding: 5px;
        border: 1px solid #888;
        border-radius: 5px;
        ::-webkit-input-placeholder, ::-moz-placeholder, :-moz-placeholder, :-ms-input-placeholder { color: #888 }
        &-container { width: 100%; }
        &-chkvalid { 
            color: #f66; 
            padding-top: 54px;
        }
    }

    &-tag {
        float: left;
        height: 5%;
        width: 50%;
        margin: 15px 0 0;
        padding: 5px;
        border: 1px solid #888;
        border-radius: 5px;
        ::-webkit-input-placeholder, ::-moz-placeholder, :-moz-placeholder, :-ms-input-placeholder { color: #888 }

        &-container {
            width: 80%;
            overflow: hidden;
            margin: 0 9%;
        }

        &-chkvalid {
            color: #f66;
            padding-top: 20px;
        }
    }

    &-editted-box {
        width: 82%;
        margin: 0 9%;
        padding-top: 3px;
        height: 60px;
    }

    &-preview {
        height:500px;
        width:80%;
        resize: vertical;
        margin:0 0 0 auto;
        padding: 5px;
        float:right;
        background-color: #fff;
        word-break: break-all;
        ::-webkit-input-placeholder, ::-moz-placeholder, :-moz-placeholder, :-ms-input-placeholder { color: #888 }
        
        &-container {
            overflow:hidden;
            display:inline-block;
            *display: inline;
            *zoom: 1;
        }
    }

    &-text {
        height:500px;
        width:80%;
        max-width:80%;
        margin: 0 0 0 auto;
        padding: 5px;
        float:left;
        border: 1px solid #888;
        border-radius: 5px;
        overflow: auto;
        ::-webkit-input-placeholder, ::-moz-placeholder, :-moz-placeholder, :-ms-input-placeholder { color: #888 }
        &-container {
            margin: 0 0 0 0;
            overflow:hidden;
            display:inline-block;
            *display: inline;
            *zoom: 1;
            width: 49%;
        }
    }
    &-submit-button {
        width: 150px;
        font-size: 15px;
        padding: 10px 30px;
        background-color: #ccc;
        color: #fff;
        display:block;
        margin: 30px auto 10% auto;
        vertical-align:middle;
        font-weight: bold;
        text-align: center;
        border: none;

        &:hover {
            cursor:pointer;
        }
    }

}

div[class^="edit-editted-tag"] {
    float: left;
    margin: 0.7em 0.5em 0;
    padding: 5px;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 4px;

    &:first-child {
        margin-left: 0;
    }

    span[class^="edit-editted-tag-delete-"] {
        padding-left: 10px;
        color: #333;
        cursor: pointer;
    }
}

.help-container{
    padding:40px;
    .top-title{
        font-size:15px;
        font-weight:bold;
    }
    .h2_similar{
        padding-left: 5px;
        border: 3px groove #888;
        line-height: 1;
        color:black;
        margin: 30px 20px 10px -10px;
        padding: 14px 5px 10px 20px;
        width:550px; 
        border-radius: 5px;
        }
        .tutorial_big{
            display:inline-block;
            font-size: 26px;
            font-weight:300;
            padding:0;
            margin-bottom:0;
        }   
        .tutorial_small{
            display:inline-block;
            font-size:medium;
            padding-left:124px;
            margin-bottom:0;
        }
    }


    .h3_similar{
        position: relative;
        font-size: 22px;
        line-height: 1;
        color:black;
        margin: 30px 20px 10px 0;
        padding: 14px 5px 10px 20px;
        border-top:2px solid @border-ccc;
        border-right:2px solid @border-ccc;
        border-left:2px solid @border-ccc;
        border-bottom:3px solid @border-ccc;
        width:550px; 
        border-radius: 16px;
        .tutorial_big{
            display:inline-block;
            font-size: 20px;
            padding:0;
        }   
        .tutorial_small{
            display:inline-block;
            font-size:medium;
            padding-left:124px;
        }
    }

    .h4_similar{
        border-bottom:1px solid rgba(0,0,0,0.3);
        margin-bottom: 1em;
        padding: 7px 20px 0px 20px;
        background-color:ghostwhite; 
        height:33px;
        .tutorial_big{
            display:inline-block;
            font-size: large;
            padding:0;
        }   
        .tutorial_small{
            display:inline-block;
            font-size:medium;
            padding-left:150px;
        }
    }
    .h5_similar{     
        margin-bottom: 1em;
        padding: 0 20px;
        background-color:ghostwhite;
        height:27px;
        .tutorial_big{
            display:inline-block;
            font-weight:bold;
            font-size: larger;
            padding:0;
        }   
        .tutorial_small{
            display:inline-block;
            font-size:medium;
            padding-left:150px;
        }
    }

    .all_address{
        margin:20px;
        p{
            margin:0;
        }
        .address_1{
            width:500px;
            margin:10px 0 10px 0;
            padding:10px 0 10px 0;
            border-top:3px solid #fff;
            border-bottom:3px solid #fff;
        }
        .address_2{
            width:500px;
            margin:10px 0 10px 0;
            padding:10px 0 10px 0;
            border-bottom:3px solid #fff;
        }
    }
