body {
  overflow-y: scroll;
  *position: relative;
  font: 15px/1.5 arial, sans-serif;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.main-sns ul li {
  display: inline-block;
  vertical-align: middle;
}
.container {
  /*記事の説明部あ分(ヘッダ)*/
}
.container .head {
  z-index: 501;
  width: 100%;
  border-top: 3px solid #333;
  border-bottom: 1px solid #e7e7e7;
}
.container .head-inner {
  position: relative;
}
.container .contents {
  overflow: hidden;
  /*以下記事部分*/
}
.container .contents .top {
  width: 60%;
  padding: 10px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  margin: 0 0 30px 20%;
}
.container .contents .top-inner .tag {
  z-index: 500;
  padding: 5px 0;
  position: relative;
  display: inline-block;
}
.container .contents .top-inner .tag .topic-word-list {
  max-height: 24px;
  padding: 0;
  float: left;
  margin: 0 30px 0 0;
}
.container .contents .top-inner .tag .topic-word-list .theme-tag {
  border: 1px solid #ff0000 !important;
}
.container .contents .top-inner .tag .topic-word-list .topic-word {
  border-radius: 10px;
  position: relative;
  display: inline-block;
  height: 21px;
  line-height: 22px;
  padding: 1px 6px 0 6px;
  background-color: #ffffff;
  border: 1px solid #7ac2a6;
  color: #000 !important;
  text-decoration: none !important;
  font-size: 11px;
  white-space: nowrap;
}
.container .contents .top-inner .tag .topic-word-list .topic-word-num {
  position: relative;
  top: -1px;
  display: inline-block;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
.container .contents .top-inner .navbar-main {
  padding: 5px 0;
}
.container .contents .top-inner .navbar-main > div {
  display: inline-block;
}
.container .contents .top-inner .navbar-main .navbar-detail {
  width: 60%;
  vertical-align: top;
}
.container .contents .top-inner .navbar-main .navbar-detail .navbar-title {
  padding-bottom: 10px;
}
.container .contents .top-inner .navbar-main .navbar-detail .navbar-title .navbar-title-txt {
  display: inline;
  line-height: 38px;
  font-size: 40px;
  word-wrap: break-word;
  margin: 0 15px 0 0;
  color: #000;
  text-decoration: none;
}
.container .contents .top-inner .navbar-main .navbar-detail .navbar-title img {
  width: 100px;
  height: 100px;
}
.container .contents .top-inner .navbar-main .navbar-detail .navbar-count > div {
  margin: 15px 0;
}
.container .contents .top-inner .navbar-main .navbar-detail .navbar-count .navbar-user .contributor {
  font-size: 12px;
}
.container .contents .top-inner .navbar-main .navbar-detail .navbar-count .navbar-user .navbar-username a {
  color: #000 !important;
  font-weight: bold;
  font-size: 20px;
}
.container .contents .top-inner .navbar-main .navbar-detail .navbar-count .navbar-count-num {
  display: inline;
  line-height: 1;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.container .contents .top-inner .navbar-main .navbar-detail .navbar-count .navbar-count-num .navbar-count-label {
  color: #000;
  font-size: 12px;
}
.container .contents .top-inner .navbar-main .navbar-detail .navbar-count .navbar-count-num .navbar-count-comment {
  color: #000;
  font-size: 12px;
}
.container .contents .top-inner .navbar-main .navbar-detail .navbar-count .navbar-update-time {
  font-size: 20px;
}
.container .contents .top-inner .navbar-main .navbar-detail .navbar-count .navbar-update-time .update-time {
  font-size: 12px;
}
.container .contents .top-inner .navbar-main .navbar-thumb {
  z-index: 1;
  position: relative;
  width: 250px;
  height: 250px;
  padding: 0;
  margin: 0;
}
.container .contents .top-inner .navbar-main .navbar-thumb #article-graph {
  padding: 0;
  margin: 0;
}
.container .contents .top-inner .navbar-main .navbar-thumb .inside-circle {
  z-index: -1;
  position: absolute;
  width: 100px;
  height: 95px;
  padding: 25px 10px 0 10px;
  bottom: 65px;
  left: 65px;
  background-color: #ffffff;
  text-align: center;
  display: block;
  border-radius: 60px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  box-shadow: 0px 0px 3px 0px #666 inset;
  -webkit-box-shadow: 0px 0px 3px 0px #666 inset;
  -moz-box-shadow: 0px 0px 3px 0px #666 inset;
  margin: 0 auto;
  vertical-align: top;
}
.container .contents .contentswrapper {
  width: 1040px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.container .contents .contentswrapper .main {
  /*background-color: aliceblue;*/
  float: left;
  width: 800px;
  padding: 0 40px 40px 20px;
  border: 3px solid #f0f8ff;
}
.container .contents .contentswrapper .main .write-related-article-container {
  text-align: center;
  margin: 15px;
}
.container .contents .contentswrapper .main .write-related-article-container .write-related-article {
  background-color: #7ac2a6;
  text-decoration: none !important;
  color: #ffffff !important;
  padding: 15px 60px;
  margin: 40px;
  line-height: 80px;
  font-size: x-large;
}
.container .contents .contentswrapper .main .write-related-article-container .write-related-article:hover {
  background-color: #5f9781;
}
.container .contents .contentswrapper .main .widgetlist {
  position: relative;
  padding: 20px 0 1px 0;
}
.container .contents .contentswrapper .main .widgetlist .widgettypetitle {
  margin-bottom: 25px;
}
.container .contents .contentswrapper .main .widgetlist .widgettypetitle p {
  word-wrap: break-word;
}
.container .contents .contentswrapper .main .widget > *[class*="p-"] {
  position: relative;
}
.container .contents .contentswrapper .main .widget > *[class*="p-"]:hover {
  background: #ddd;
}
.container .contents .contentswrapper .main .widget > *[class*="p-"]:hover > *[class*="-comments"] {
  display: block;
}
.container .contents .contentswrapper .main .widget > *[class*="p-"] > *[class*="-comments"] {
  font-size: 10px;
  width: 300px;
  display: none;
  position: absolute;
  top: 0;
  left: 102%;
  z-index: 9999;
  padding: 6px 10px;
  color: #ffffff;
  background: #666;
  border-radius: 0.5em;
  -moz-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  -o-transform: translateY(-30%);
  -webkit-transform: translateY(-30%);
  transform: translateY(-30%);
}
.container .contents .contentswrapper .main .widget > *[class*="p-"] > *[class*="-comments"] .triangle {
  width: 0;
  height: 70%;
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 31.5%;
  border-top: 10px solid #666;
  border-left: 20px solid transparent;
}
.container .contents .contentswrapper .main .widget > *[class*="p-"] > *[class*="-comments"] .response p:hover {
  background: none;
}
.container .contents .contentswrapper .main .widget > *[class*="p-"] > *[class*="-comments"] button {
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  margin-left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 0.62em 1.2em;
  background: #ffffff;
  border: none;
  border-radius: 0.3em;
}
.container .contents .contentswrapper .main p:hover {
  background-color: #ffffff;
}
.container .contents .contentswrapper .main .related-list {
  padding-top: 1px;
  position: relative;
  margin: 10px 0 10px 0;
}
.container .contents .contentswrapper .main .related-list .found-article-zero {
  text-align: center;
}
.container .contents .contentswrapper .main .related-list .found-article-zero p {
  display: block;
  font-size: large;
}
.container .contents .contentswrapper .main .related-list .separator {
  margin: 10px 0;
}
.container .contents .contentswrapper .main .related-list .list .listitem {
  display: table;
  margin: 30px 0;
  padding: 0 20px;
}
.container .contents .contentswrapper .main .related-list .list .listitem .listthumb {
  display: table-cell;
  width: 60px;
  height: 60px;
  vertical-align: top;
}
.container .contents .contentswrapper .main .related-list .list .listitem:first-child {
  margin-top: 0;
}
.container .contents .contentswrapper .main .related-list .list .listitem:hover {
  background-color: antiquewhite;
}
.container .contents .contentswrapper .main .related-list .list .listtxt {
  display: table-cell;
  vertical-align: middle;
  table-layout: fixed;
  width: 100%;
  max-width: 560px;
}
.container .contents .contentswrapper .main .related-list .list .listtxt .listtitle {
  display: inline;
  line-height: 1.1;
  font-size: 20px;
  font-weight: normal;
  margin-right: 15px;
}
.container .contents .contentswrapper .main .related-list .list .listtxt .listtitle a {
  padding: 6px 0;
  color: #000;
}
.container .contents .contentswrapper .main .related-list .list .listtxt .listtitle .listdesc {
  color: #aaa;
}
.container .contents .contentswrapper .main .related-list .list .more-read {
  float: right;
  color: black;
  text-decoration: underline;
}
.container .contents .contentswrapper .dropbox {
  position: relative;
  background-color: #ffffff;
  float: left;
  width: 180px;
  padding-bottom: 1000000px;
  margin-bottom: -1000000px;
  z-index: 0;
  opacity: 1;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.container .contents .contentswrapper .dropbox > * > * {
  margin-left: -20px;
  padding: 10px 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container .contents .contentswrapper .dropbox > * > * > span {
  cursor: default;
  padding: 3px 9px;
  background: #ffffff;
  color: #555;
  font-size: 12px;
  font-weight: bold;
  border-radius: 200px;
}
.postit {
  position: fixed;
  right: 0;
  top: 60%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
@media screen and (max-width: 980px) {
  .postit {
    top: 100%;
  }
}
.postit-contents {
  background-color: #ffffff;
}
.postit-title {
  padding: 13px 15px 0;
  color: #000;
  font-weight: bold;
  font-size: 12px;
}
.postit-list {
  padding: 15px 30px 9px;
}
.postit-list > div {
  position: relative;
}
.postit-list > div > div {
  position: absolute;
  visibility: hidden;
  top: 10px;
  left: 10px;
  padding: 3px 9px;
  border-radius: 200px;
  background: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  font-weight: bold;
}
.postit-list img {
  width: 130px;
  height: 43px;
}
.postit-list > * {
  cursor: pointer;
}
.postit-pasting {
  z-index: -100;
  height: 43px;
  width: 130px;
  visibility: hidden;
}
.foot {
  width: 100%;
  border-top: 1px solid #e7e7e7;
}
.foot .foot-inner {
  width: 960px;
  margin: 0 auto;
  padding: 25px 0;
}
.main .separator,
.main .separator {
  border-top: 1px solid #e7e7e7;
}
.main .separator hr,
.main .separator hr {
  display: none;
}
.fade-layer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
.fade-layer > img {
  width: 130px;
}
/*# sourceMappingURL=WriteArticle.css.map */