html {
  width: 100%;
  height: 100%;
}
body {
  background-image: url("/Content/imgs/bg-common.png");
  width: 100%;
  height: 100%;
}
.edit-bg-overlay {
  color: #888;
  width: 100%;
  clear: both;
}
.edit-tab-container {
  height: 3em;
  width: 100%;
}
.edit-tab-container ul {
  position: absolute;
  top: 50px;
  right: 10%;
  height: 3em;
  width: 450px;
}
.edit-tab-container ul li {
  cursor: pointer;
  float: left;
  width: 150px;
  height: 2em;
  padding-top: 1em;
  text-align: center;
  background-color: rgba(107, 107, 107, 0.4);
}
.edit-tab-container ul li:before {
  padding: 0 10px 0 0;
  content: "❚";
}
.edit-tab-container ul li.selected {
  background-color: transparent;
}
.edit-content-bg {
  width: 100%;
}
.edit-title {
  width: 70%;
  float: left;
  margin: 50px 0 0 9%;
  padding: 5px;
  border: 1px solid #888;
  border-radius: 5px;
}
.edit-title ::-webkit-input-placeholder,
.edit-title ::-moz-placeholder,
.edit-title :-moz-placeholder,
.edit-title :-ms-input-placeholder {
  color: #888888;
}
.edit-title-container {
  width: 100%;
}
.edit-title-chkvalid {
  color: #f66;
  padding-top: 54px;
}
.edit-tag {
  float: left;
  height: 5%;
  width: 50%;
  margin: 15px 0 0;
  padding: 5px;
  border: 1px solid #888;
  border-radius: 5px;
}
.edit-tag ::-webkit-input-placeholder,
.edit-tag ::-moz-placeholder,
.edit-tag :-moz-placeholder,
.edit-tag :-ms-input-placeholder {
  color: #888888;
}
.edit-tag-container {
  width: 80%;
  overflow: hidden;
  margin: 0 9%;
}
.edit-tag-chkvalid {
  color: #f66;
  padding-top: 20px;
}
.edit-editted-box {
  width: 82%;
  margin: 0 9%;
  padding-top: 3px;
  height: 60px;
}
.edit-preview {
  height: 500px;
  width: 80%;
  resize: vertical;
  margin: 0 0 0 auto;
  padding: 5px;
  float: right;
  background-color: #fff;
  word-break: break-all;
}
.edit-preview ::-webkit-input-placeholder,
.edit-preview ::-moz-placeholder,
.edit-preview :-moz-placeholder,
.edit-preview :-ms-input-placeholder {
  color: #888888;
}
.edit-preview-container {
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 50%;
}
.edit-text {
  height: 500px;
  width: 80%;
  max-width: 80%;
  margin: 0 0 0 auto;
  padding: 5px;
  float: left;
  border: 1px solid #888;
  border-radius: 5px;
  overflow: auto;
}
.edit-text ::-webkit-input-placeholder,
.edit-text ::-moz-placeholder,
.edit-text :-moz-placeholder,
.edit-text :-ms-input-placeholder {
  color: #888888;
}
.edit-text-container {
  margin: 0 0 0 0;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 49%;
}
.edit-submit-button {
  width: 150px;
  font-size: 15px;
  padding: 10px 30px;
  background-color: #ccc;
  color: #fff;
  display: block;
  margin: 30px auto 10% auto;
  vertical-align: middle;
  font-weight: bold;
  text-align: center;
  border: none;
}
.edit-submit-button:hover {
  cursor: pointer;
}
div[class^="edit-editted-tag"] {
  float: left;
  margin: 0.7em 0.5em 0;
  padding: 5px;
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 4px;
}
div[class^="edit-editted-tag"]:first-child {
  margin-left: 0;
}
div[class^="edit-editted-tag"] span[class^="edit-editted-tag-delete-"] {
  padding-left: 10px;
  color: #333;
  cursor: pointer;
}
.help-container {
  padding: 40px;
}
.help-container .top-title {
  font-size: 16px;
  font-weight: bold;
}
.help-container .h2_similar {
  padding-left: 5px;
  border: 3px groove #888;
  line-height: 1;
  color: black;
  margin: 30px 20px 10px -10px;
  padding: 14px 5px 10px 20px;
  width: 550px;
  border-radius: 5px;
}
.help-container .tutorial_big {
  display: inline-block;
  font-size: 26px;
  font-weight: 300;
  padding: 0;
  margin-bottom: 0;
}
.help-container .tutorial_small {
  display: inline-block;
  font-size: medium;
  padding-left: 124px;
  margin-bottom: 0;
}
.h3_similar {
  position: relative;
  background: #ffffff;
  font-size: 22px;
  line-height: 1;
  color: black;
  margin: 30px 20px 10px 0;
  padding: 14px 5px 10px 20px;
  border-top: 2px solid #cccccc;
  border-right: 2px solid #cccccc;
  border-left: 2px solid #cccccc;
  border-bottom: 3px solid #cccccc;
  width: 550px;
  border-radius: 16px;
}
.h3_similar .tutorial_big {
  display: inline-block;
  font-size: 20px;
  padding: 0;
}
.h3_similar .tutorial_small {
  display: inline-block;
  font-size: medium;
  padding-left: 124px;
}
.h4_similar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 1em;
  padding: 7px 20px 0px 20px;
  background-color: ghostwhite;
  height: 33px;
}
.h4_similar .tutorial_big {
  display: inline-block;
  font-size: large;
  padding: 0;
}
.h4_similar .tutorial_small {
  display: inline-block;
  font-size: medium;
  padding-left: 150px;
}
.h5_similar {
  margin-bottom: 1em;
  padding: 0 20px;
  background-color: ghostwhite;
  height: 27px;
}
.h5_similar .tutorial_big {
  display: inline-block;
  font-weight: bold;
  font-size: larger;
  padding: 0;
}
.h5_similar .tutorial_small {
  display: inline-block;
  font-size: medium;
  padding-left: 150px;
}
.all_address {
  margin: 20px;
}
.all_address p {
  margin: 0;
}
.all_address .address_1 {
  width: 500px;
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
.all_address .address_2 {
  width: 500px;
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
  border-bottom: 3px solid #fff;
}
/*# sourceMappingURL=WriteArticle.css.map */