
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@{
    Layout = "../Shared/_BaseLayout.cshtml";
}
@section CSS{
    <link href="~/Content/css/Edit/header.css" rel="stylesheet" />
    <link href="~/Content/css/Edit/index.css" rel="stylesheet" />
    <link href="~/Content/css/Novel/novel-editor.css" rel="stylesheet" />
}
@section JS
{
    <script src="~/Scripts/collections.js"></script>
    <script src="~/Scripts/caret-util.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/Edit/EditPage.js"></script>
    <script src="~/Scripts/Novel/novel-editor.js"></script>
    <script src="~/Scripts/Utility/AspectRatioStretcher.js"></script>
    <script src="~/Scripts/Utility/HeightStretcher.js"></script>
    <script src="~/Scripts/Novel/Markups.js"></script>

}
<div class="editor-bg-overlay">
    <header>
        <div class="editor-header">
            <div>
                <a>トップに戻る</a>
            </div>
        </div>
        <nav class="editor-tab-container">
            <ul>
                <li class="tab-item-editbody" onclick="selectEditBody()">本文の編集</li>
                <li class="tab-item-configure" onclick="selectConfigure()">設定の変更</li>
                <li class="tab-item-editbelt" onclick="selectEditBelt()">帯の編集</li>
            </ul>
        </nav>
    </header>
    <div class="editor-content-bg">
        @RenderPage("~/Views/Edit/EditBody.cshtml")
    </div>
    <div class="editor-footer">
        <div class="editor-footer-inner">
            <button class="editor-submit-button">編集を適用する</button>
        </div>
    </div>
</div>

