@model dynamic

<div class="novel-editor-container-outer">
    <div class="body-editor-header">
        <div class="half-divider"><h1>プレビュー</h1></div>
        <div class="half-divider"><h1>編集画面</h1></div>
    </div>
    <div class="novel-editor-container-inner">
        <div class="half-divider body-edit-container">
            <div class="preview-container">
                <div class="preview-context">
                    <div class="preview-body"></div>
                </div>
            </div>
        </div>
        <div class="half-divider body-edit-container"><div class="edit-container"><textarea class="edit-context"></textarea></div></div>
    </div>
</div>