
@{
    ViewBag.Title = "Edit";
}

@{
    Layout = "../Shared/_BaseLayout.cshtml";
}

@section CSS{
    <link href="~/Content/css/Edit/header.css" rel="stylesheet" />
    <link href="~/Content/css/Edit/index.css" rel="stylesheet" />
    <link href="~/Content/css/Novel/novel-editor.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.17.2/build/cssreset/cssreset-min.css">
}

@section JS
{
    <script src="~/Scripts/collections.js"></script>
    <script src="~/Scripts/caret-util.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/Edit/EditPage.js"></script>
    <script src="~/Scripts/Novel/novel-editor.js"></script>
    <script src="~/Scripts/Utility/AspectRatioStretcher.js"></script>
    <script src="~/Scripts/Utility/HeightStretcher.js"></script>
    <script src="~/Scripts/Novel/Markups.js"></script>

}
<div class="edit-bg-overlay">
    <header>
        <div class="edit-header">
            <p>
                linophi > 新規投稿画面
                <div class="edit-header-profile">
                    <img src="/Content/imgs/profile.png" />
                </div>
            </p>
        </div>
    </header>

    <form>
        <div class="edit-title-container">
            <input type="text" class="edit-title" placeholder="タイトル" /></input>
        </div>

        <div class="edit-tag-container">
            <input type="text" class="edit-tag" placeholder="タグ" /></input>
        </div>

        <div class="edit-preview-container">
            <div class="edit-preview"></div>
        </div>

        <div class="edit-text-container">
            <textarea class="edit-text" placeholder="textarea"></textarea>
        </div>
        <button type="submit" value="投稿する" class="edit-submit-button">投稿する</button>
    </form>

    
    <div class="edit_footer">
        <footer>
            <h2>linophi</h2>
            <p>
                sss
            </p>
        </footer>
    </div>
</div>