@model Web.Models.EditViewModel
@{
    ViewBag.Title = "Edit";
}

@{
    Layout = "../Shared/_BaseLayout.cshtml";
}

@section CSS{
    <link href="~/Content/css/Edit/header.css" rel="stylesheet" />
    <link href="~/Content/css/Edit/index.css" rel="stylesheet" />
    <link href="~/Content/css/Novel/novel-editor.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.17.2/build/cssreset/cssreset-min.css">
}

@section JS
{
    <script src="~/Scripts/collections.js"></script>
    <script src="~/Scripts/caret-util.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/Edit/EditPage.js"></script>
    <script src="~/Scripts/Novel/novel-editor.js"></script>
    <script src="~/Scripts/Utility/AspectRatioStretcher.js"></script>
    <script src="~/Scripts/Utility/HeightStretcher.js"></script>
    <script src="~/Scripts/Novel/Markups.js"></script>
    <script src="~/Scripts/Edit/Edit-autoHeight.js"></script>
    <script src="~/Scripts/Edit/Edit-autoMargin-left.js"></script>
    <script src="~/Scripts/Edit/TagMaker.js"></script>
}
<div class="edit-bg-overlay">
    <header>
        <div class="edit-header">
            <p>
                linophi > 新規投稿画面
                <div class="edit-header-profile">
                    <img src="/Content/imgs/profile.png" />
                </div>
            </p>
        </div>
    </header>
    
        @using (Html.BeginForm("Index", "Edit", FormMethod.Post, new { @class = "edit-form editpage-main" }))
        {
            <div class="edit-title-container">
                @Html.TextBoxFor((m) => m.Title, new { id = "title", type = "text", @class = "edit-title", placeholder = "タイトル" })
            </div>

            <div class="edit-tag-container">
                @Html.TextBoxFor((m) => m.Tag, new { id = "tag", type = "text", @class = "edit-tag", placeholder = "タグ" })
            </div>


            <div class="edit-preview-container">
                <div class="edit-preview preview-body"></div>
            </div>
            <div class="edit-text-container">
                <textarea class="edit-text edit-context" placeholder="textarea"></textarea>
            </div>
            @Html.HiddenFor((m) => m.Context, new { id = "context" })
            <a class="edit-submit-button">投稿する</a>
        }

        
            <footer>
                
            </footer>
       
    </div>
