@model Web.Models.AccountConfigViewModel
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section CSS
{
    <link href="~/Content/css/Account/Config.css" rel="stylesheet" />
}

@using (Html.BeginForm("Config", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="contents">
        <span class="change-username">
            ユーザー名の変更
            <span class="textbox">
                @Html.TextBoxFor(m => m.NickName)
            </span>
        </span>
        <div></div>
        <span class="change-recive-mail">
            メールの受信可否の変更
            <span class="check">
            @Html.CheckBoxFor(m => m.MailMagazine)
            </span>
        </span>
        <div>
            <input type="submit" class="button" />
        </div>
    </div>
}