@model Web.Models.AccountConfigViewModel
@{
    ViewBag.Title = "ユーザー情報変更";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section CSS
{
    <link href="~/Content/css/Account/Config.css" rel="stylesheet" />
}
@section JS
{
    <script src="~/Scripts/Account/Config.js"></script>
}

<div class="layout">
    @using (Html.BeginForm("Config", "Account", FormMethod.Post,new{@class="config-form"}))
    {
        @Html.AntiForgeryToken()
        <div class="contents">
            <h1>設定</h1>
            <h2>ユーザー情報変更</h2>
            <span class="change-username">
                ユーザー名の変更
                <span class="textbox">
                    @Html.TextBoxFor(m => m.NickName)
                </span>
            </span>
            <div></div>
            <span class="change-recivemail">
                メールの受信可否の変更
                <span class="check">
                    @Html.CheckBoxFor(m => m.MailMagazine)
                </span>
            </span>
            <div>
                <a class="config-submit">保存</a>
            </div>
        </div>
    }
</div>