//LESSにおける命名規則
//色に関する変数
//一般名-color-部分
//部分に対して使う文字は以下のような文字を使用する
//背景色→bg
//境界線色→border
//文字色→fore
//一般名については、他の者が勘違いせず理解できるようなものを使用するが、以下のよう後に関しては以下で統一する。
//ふせん→label
//記事→article
//他にあれば追加せよ
//mixinに関するものに対しては、サフィックスとしてmixinをつける。
//ベンダプレックス付与用のmixinに関しては、プレフィックスとしてvendをつける
//アクセントカラーに関しては以下のように命名する
//@accent-color-数字:色
//ただし、これに対応する暗色の色が存在するとき
//@accent-dark-color-数字:色
//これに対応する明色の色が存在するとき
//@accent-light-color-数字:色

//アクセントカラー
@accent-color-1: #7ac2a6;
@accent-dark-color-1: #5f9781;
@accent-light-color-1: #afdbcc;
@accent-highlight-color-1: #DFECE6;

@accent-color-2: skyblue;
@accent-light-color-2: aliceblue;

@text-color-1: white;
@text-color-2: black;

@bg-color-1: white;
@bg-color-2: #e4e4e4;
@bg-color-3: #f5fffa;


//タグ
@tag-color-border: @accent-color-1;
@tag-color-bg: @bg-color-1;
@tag-color-fore: @text-color-1;
@view-theme-tag: red;

//トップページ
@top-accent-1: rgb(67, 133, 245);
@top-accent-2: rgb(220, 68, 55);
@top-accent-3: rgb(245, 180, 0);

@top-accent-darken-1: rgb(27, 93, 205);
@top-accent-lighten-1: rgb(107, 173, 255);


//ヘッダー要素
@header-color-bg: @bg-color-1;

.tag-style-mixin() {
    border: 1px solid @tag-color-border;
    background: @tag-color-bg;
    color: @tag-color-fore !important;
}


//リンク系
@link-normal: #0c2a81;
@link-visited: #7b23a9;
@link-hover: #0c2a81;

//ボーダー系
@border-gray: #e7e7e7;
@border-gray-all: 1px solid @border-gray;
@border-normal-green: @accent-color-1;
@border-green-all: 1px solid @border-normal-green;
@border-ccc: #ccc;
@border-ccc-all: 1px solid @border-ccc;

//送信ボタン系
@submit-button-style-1-color-bg: @accent-color-1;
@submit-button-style-1-color-hover-bg: @accent-dark-color-1;
@submit-button-style-1-color-fore: @text-color-1;
@submit-button-style-2-color-bg: @border-ccc;
@submit-button-style-2-color-hover-bg: @bg-color-2;
@submit-button-style-2-color-fore: @text-color-2;

.submit-button-style-1-mixin() {
    background-color: @submit-button-style-1-color-bg;
    color: @submit-button-style-1-color-fore;
    .submit-button-margin;

    &:hover {
        background-color: @submit-button-style-1-color-hover-bg;
        cursor: pointer;
    }
}

.submit-button-style-2-mixin() {
    background-color: @submit-button-style-2-color-bg;
    color: @submit-button-style-2-color-fore;
    .submit-button-margin;

    &:hover {
        background-color: @submit-button-style-2-color-hover-bg;
        cursor: pointer;
    }
}

.submit-button-margin() {
    padding: 5px 40px;
}


//見出し系
.head-shadow(@shadow-1,@shadow-2) {
    box-shadow: -18px 0 @shadow-1, -28px 0 @shadow-2;
}

@header-style-1-color-bg: @bg-color-1;
@header-style-1-color-shadow-1: @accent-light-color-1;
@header-style-1-color-shadow-2: @accent-color-1;

.header-style-1-mixin() {
    .head-shadow(@header-style-1-color-shadow-1,@header-style-1-color-shadow-2);
    font-size: xx-large;
    margin-bottom: 1em;
    padding: 0 20px;
    background-color: @header-style-1-color-bg;
}

@header-style-2-color-bg: @bg-color-1;
@header-style-2-color-shadow-1: @accent-light-color-2;
@header-style-2-color-shadow-2: @accent-color-2;

.header-style-2-mixin() {
    .head-shadow(@header-style-2-color-shadow-1,@header-style-2-color-shadow-2);
    font-size: x-large;
    margin-bottom: 1em;
    padding: 0 20px;
    background-color: @header-style-2-color-bg;
}

.header-style-3-mixin() {
    position: relative;
    font-size: 36px;
    padding: 0.3em 60px;
    left: -60px;
    margin-bottom: 20px;
    background-color: @top-accent-1;
    color: @text-color-1;

    &:before {
        position: absolute;
        bottom: -20px;
        left: 0;
        border-width: 10px;
        border-style: solid;
        border-color: @top-accent-darken-1 @top-accent-darken-1 rgba(0,0,0, 0) rgba(0,0,0, 0);
        content: "";
    }

    &:hover {
        background: @top-accent-lighten-1 !important;
    }
}


.header-style-4-mixin() {
    font-size: 32px;
    margin-bottom: 1em;
    padding: 0.2em;
    background-color: @header-style-2-color-bg;
    border-bottom: 1px solid #aaa;

    &:before {
        margin: 0 20px 0 10px;
        font-size: 30px;
        content: "■";
        color: @top-accent-2;
    }
}

//入力ボックス系
@textbox-style-1-color-bg: @bg-color-1;
@textbox-style-1-color-focus-bg: @bg-color-3;
@textbox-style-1-color-fore: @text-color-2;
@textbox-style-1-color-focus-fore: @text-color-1;

.textbox-style-1-mixin() {
    background-color: @textbox-style-1-color-bg;
    color: @textbox-style-1-color-fore;
    -moz-transition: background-color ease-in 0.2s;
    -o-transition: background-color ease-in 0.2s;
    -webkit-transition: background-color ease-in 0.2s;
    transition: background-color ease-in 0.2s;

    &:focus {
        background-color: @textbox-style-1-color-focus-bg;
        color: @textbox-style-1-color-focus-fore;
    }
}

.border-bottom-transition-property-mixin() {
    -moz-transition-property: border-bottom;
    -o-transition-property: border-bottom;
    -webkit-transition-property: border-bottom;
    transition-property: border-bottom;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

//関連記事を書くボタン
.write-related-article-mixin() {
    text-align: center;
    margin: 55px;

    .write-related-article {
        background-color: @submit-button-style-1-color-bg;
        text-decoration: none !important;
        color: @submit-button-style-1-color-fore !important;
        padding: 15px 60px;
        margin: 40px;
        line-height: 80px;
        font-size: x-large;

        &:hover {
            background-color: @submit-button-style-1-color-hover-bg;
        }
    }
}

//検索画面のボタン
.page-control-mixin() {
    margin: 15px 80px 0 80px;
    font-size: 14px;
    //font-weight:bold;
    span {
        border-radius: 20px;
        background-color: @top-accent-1;
        padding: 10px 30px 10px 30px;

        a {
            text-decoration: none;
            color: @text-color-1;
            cursor: pointer;
        }
    }

    .page-before {
        float: left;
        margin-left: 50px;
    }

    .page-before:hover {
        background-color: #0c2a81;
    }

    .page-after {
        float: right;
        margin-right: 50px;
    }

    .page-after:hover {
        background-color: #0c2a81;
    }
}

//ベンダプレックス回避用

.vend-boxsizing-mixin(@param) {
    -moz-box-sizing: @param;
    -webkit-box-sizing: @param;
    box-sizing: @param;
}
