.article-container {
  padding: 0 20px;
}
.article-container h2 {
  position: relative;
  font-size: 36px;
  padding: 0.3em 60px;
  left: -60px;
  margin-bottom: 20px;
  background-color: #4385f5;
  color: #ffffff;
}
.article-container h2:before {
  position: absolute;
  bottom: -20px;
  left: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #1b5dcd #1b5dcd rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  content: "";
}
.article-container h2:hover {
  background: #6badff !important;
}
.article-container h3 {
  font-size: 32px;
  margin-bottom: 1em;
  padding: 0.2em;
  background-color: #ffffff;
  border-bottom: 1px solid #aaa;
}
.article-container h3:before {
  margin: 0 20px 0 10px;
  font-size: 30px;
  content: "■";
  color: #dc4437;
}
.article-container h4 {
  border-top: 4px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 8px 20px;
  background-color: #f3f3f3;
}
.article-container h5 {
  font-size: 20px;
  margin-bottom: 1em;
  padding: 10px 20px;
  background-color: ghostwhite;
  border-bottom: 1px solid #ccc;
}
.article-container .x_b,
.article-container .b {
  font-weight: bold;
}
.article-container p {
  margin-bottom: 1em;
}
.article-container .x_quote,
.article-container .quote {
  margin: 0 20px 20px;
  border-left: solid 4px #808080;
  padding: 5px;
}
.article-container .x_quote a,
.article-container .quote a {
  color: #808080;
}
.article-container .x_quote .x_source,
.article-container .quote .x_source,
.article-container .x_quote .source,
.article-container .quote .source {
  margin-bottom: 10px;
  margin-left: 10px;
  color: gray;
  font-size: small;
}
.help-container {
  width: 600px;
  /*border:2px solid #ccc;*/
  padding: 40px;
  margin: 20px auto;
  background-color: #FAFAFA;
}
.help-container h2 {
  box-shadow: -18px 0 #afdbcc, -28px 0 #7ac2a6;
  font-size: xx-large;
  margin-bottom: 1em;
  padding: 0 20px;
  background-color: #ffffff;
}
.help-container h3 {
  box-shadow: -18px 0 #f0f8ff, -28px 0 #87ceeb;
  font-size: x-large;
  margin-bottom: 1em;
  padding: 0 20px;
  background-color: #ffffff;
}
.help-container h4 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-size: large;
  margin-bottom: 1em;
  padding: 0 20px 5px 20px;
  background-color: ghostwhite;
}
.help-container h5 {
  font-weight: bold;
  font-size: larger;
  margin-bottom: 1em;
  padding: 0 20px;
  background-color: ghostwhite;
}
.help-container .x_b,
.help-container .b {
  font-weight: bold;
}
.help-container p {
  margin-bottom: 1em;
}
.help-container .x_quote,
.help-container .quote {
  margin: 0 20px 20px;
  border-left: solid 4px #808080;
  padding: 5px;
}
.help-container .x_quote a,
.help-container .quote a {
  color: #808080;
}
.help-container .x_quote .x_source,
.help-container .quote .x_source,
.help-container .x_quote .source,
.help-container .quote .source {
  margin-bottom: 10px;
  margin-left: 10px;
  color: gray;
  font-size: small;
}
/*# sourceMappingURL=Markup.css.map */