@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section CSS
{
    
}

<article class="layout">
    <section class="inner-header-container">
        <h1>原発問題</h1>
    </section>

</article>