@{
    ViewBag.Title = "お問い合わせ送信完了";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section CSS
{
    <link href="~/Content/css/Home/InquiryAccepted.css" rel="stylesheet" />
}
@section JS
{
    <script src="~/Scripts/Home/InquiryAccepted.js"></script>
}


<div class="container">
    <div class="main-text">
        <p>
            この度は、弊社サイトにお問い合わせをいただき、誠にありがとうございます。
        </p>
        <p>
        改めて、ご連絡させていただきますので、
        今しばらくお待ちください。
        </p>
    </div>
</div>


