@{
    ViewBag.Title = "お問い合わせ送信完了";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section CSS
{
    <link href="~/Content/css/Home/InquiryAccepted.css" rel="stylesheet" />
}
@section JS
{
    <script src="~/Scripts/Home/InquiryAccepted.js"></script>
}
<meta http-equiv="refresh" content="3; URL=http://localhost:4737/">
@*<meta http-equiv="refresh" content="3; URL=location.host">*@

<div class="container">
    <div class="main-text">
        <p>
            この度は、弊社サイトにお問い合わせをいただき、誠にありがとうございます。
        </p>
        <p>
            改めて、ご連絡させていただきますので、
            今しばらくお待ちください。
        </p>
        <p>
            3秒後にトップページに戻ります。
        </p>
    </div>
</div>


