@{
    ViewBag.Title = "意見.みんな について";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section CSS
{
    <link href="~/Content/css/Home/Outline.css" rel="stylesheet" />
}
@section JS
{
}

<div class="container">
    
</div>