@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section JS{
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/Home/Top.js"></script>
}

@section CSS{
    <link href="~/Content/css/Home/Top.css" rel="stylesheet" />
}

<div class="container">
    <div class="container-inner">


        <div class="view-title-container">
            <div class="view-title">
                <h1>ビスマルクについて</h1>
            </div>
        </div>

        <div class="view-little-container">
            <div class="view-little">
                <div class="count-num">
                    <div class="label">pv</div>226
                </div>
                <div class="count-num">
                    <div class="label">ふせん</div>6
                </div>
                <div class="count-num">
                    <div class="label">コメント</div>0
                </div>

                <div class="text-update">投稿日時2014/09/09</div>
                <h3>-----------------------------本文冒頭-----------------------------</h3>
                <div class="text-main">
                    <h4>戦艦ビスマルクとは</h4>
                    ビスマルク (Bismarck)は、第二次世界大戦中のドイツ海軍最大・最新鋭の戦艦。ビスマルク級戦艦のネームシップ。艦名はドイツ統一の立役者の鉄血宰相オットー・フォン・ビスマルクにちなんで付けられた。

                    ヴェルサイユ条約を再軍備宣言で破棄して、英独海軍協定(Anglo-German Navy Agreement)で堂々と大型艦が造れるようになり、建造されたのが本級戦艦。

                    欧州最大の戦艦であり、短いながらもWWII有数の戦歴から日本人にとっての大和同様に世界では知名度・人気共に非常に高い。

                    ディスカバリーチャンネル「軍艦トップ１０」ではビスマルク級戦艦が第７位にランクインしている。・・・
                </div>
                @*<iframe type="text/html" src="http://localhost:4737/B6wilp8DXabi" frameborder="0" style="-moz-transform: scale(1,1);-webkit-transform: scale(1,1);-o-transform: scale(1,1);-ms-transform: scale(1,1);overflow:hidden" width="400" height="450" frameborder="0" border="0" marginwidth="0" marginheight="0" topmargin="0" leftmargin="0"></iframe>*@
                @*<img src="~/Content/imgs/test-top.PNG" width="400" height="450"/>*@
            </div>
        </div>

        <div id="top-graph-container">
            <div id="top-graph">

            </div>
        </div>
    </div>
</div>
