@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section JS{
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/Home/Top.js"></script>
}

@section CSS{
    <link href="~/Content/css/Home/Top.css" rel="stylesheet" />
}

<div class="container">
    <div class="container-inner">
        <div class="top-comment">少しのぞいてみよう</div>

        <div class="view-title-container">
            <div class="view-title">
                <h1>testtesttest</h1>
            </div>
        </div>

        <div class="view-little-container">
            <div class="view-little">
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            </div>
        </div>

        <div id="top-graph-container">
            <div id="top-graph">

            </div>
        </div>
    </div>
</div>
