@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section JS{
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/Home/Top.js"></script>
}

@section CSS{
    <link href="~/Content/css/Home/Top.css" rel="stylesheet" />
}


@*
    .top-container
      .top-header
      .top-main.clearfix
        .top-contents
          .top-topics-flare
            %h2
            %div
          .top-topics-category
            .top-summary
              .top-title
                %img
                %p
              .top-factor
                %p
                %p
            .top-index
              .top-index-box
                %h2
                %ul
                  %li
                  %li
              .top-index-box
                %h2
                %ul
                  %li
                  %li
        .top-sidebar
          .ads
*@

<div class="top-container">
    <div class="top-header"></div>
    <div class="top-main clearfix">
        <div class="top-contents">
            <div class="top-topics-flare">
                <h2></h2>
                <div></div>
            </div>
            <div class="top-topics-category">
                <div class="top-summary">
                    <div class="top-title">
                        <img>
                        <p></p>
                    </div>
                    <div class="top-factor">
                        <p></p>
                        <p></p>
                    </div>
                </div>
                <div class="top-index">
                    <div class="top-index-box">
                        <h2></h2>
                        <ul>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="top-index-box">
                        <h2></h2>
                        <ul>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-sidebar">
            <div class="ads"></div>
        </div>
    </div>
</div>