@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section JS{
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/Home/Top.js"></script>
}

@section CSS{
    <link href="~/Content/css/Home/Top.css" rel="stylesheet" />
}


@*
    .top-container
      .top-header
      .top-main.clearfix
        .top-contents
          .top-topics-flare
            %h2
            %div
          .top-topics-category
            .top-summary.clearfix
              .top-title
                %img
                %p
              .top-factor
                %p
                %p
            .top-index.clearfix
              .top-index-box
                %h2
                %ul
                  %li
                  %li
              .top-index-box
                %h2
                %ul
                  %li
                  %li
        .top-sidebar
          .ads
*@

<div class="top-container">
    <div class="top-header">
        header
    </div>

    <div class="top-main clearfix">
        
        <div class="top-contents">
            <div class="top-topics-flare">
                <h2>今燃えている記事</h2>
                <div>1</div>
                <div>2</div>
                <div>3</div>
            </div>

            <div class="top-topics-category">
                <div class="top-summary clearfix">
                    <div class="top-title">
                        <img src="">
                        <p>イスラム国</p>
                    </div>
                    <div class="top-factor">
                        <p>事実</p>
                        <p>事実</p>
                    </div>
                </div><!-- .top-summary -->

                <div class="top-index clearfix">
                    <div class="top-index-box">
                        <h2>HOT</h2>
                        <ul>
                            <li>記事タイトル</li>
                            <li>記事タイトル</li>
                        </ul>
                    </div>
                    <div class="top-index-box">
                        <h2>NEW</h2>
                        <ul>
                            <li>記事タイトル</li>
                            <li>記事タイトル</li>
                        </ul>
                    </div>
                </div><!-- .top-index -->

            </div><!-- .top-category -->

        </div><!-- .top-contents -->

        <div class="top-sidebar">
            <div class="ads">
                広告
            </div>
        </div><!-- .top-sidebar -->

    </div><!-- .top-main -->
</div><!-- .top-container -->