@import "../Color.less";

h1{
    .header-style-1-mixin;
}

h2{
    .header-style-2-mixin;
}


.contents {
    font-size: 20px;
    width: 500px;
    height: 100%;
    margin:0 auto;
    border:1px solid black;
    padding:70px;
    div{
        text-align:center;

        .error-message{
            opacity:0;
            color:red;
        }
    }

    span {
        margin:20px auto;
        line-height:60px;
        .change-username {
            display: inline;
        }

        .change-recieve-mail {
            display: inline;
        }
    }
}

.layout{
    margin:0 auto;
    }

.config-submit{
    .submit-button-style-1-mixin;
}
