html,body{
    height:100%;
}

.whole-layout{
    margin-top:0;
    padding-left:5%;
    padding-right:5%;
    height:60%;
    background-color:#fdf8f2;
    font-size:large;
    .sign-up{
        padding-top:5%;
        margin:0 auto;
        font-size:x-large;
        font-weight:bold;
    }
    .form{
        padding-left:5%;
    }
}

.foot{
    margin-bottom:0;
}