<footer>
    <nav class="box-container">     
        <span><a href="~/Pages/Home/Outline">意見.みんな について</a></span>
        <span><a href="~/Pages/Home/TermsOfService">利用規約</a></span>
        <span><a href="~/Pages/Home/PrivacyPolicy">プライバシーポリシー</a></span>
        <span><a href="~/Pages/Home/Inquiry">お問い合わせ</a></span>
    </nav>
    <div class="copyright">
        (c)beep 2014-
    </div>
</footer>
