 <div class=" foot">
    <footer>
        <nav class="box-container">
            <nav class="box">
                <img  src="~/Content/imgs/logo.png"/>
            </nav>
            <div class="vertex"></div>
            <nav class="box">
                <ul class="ulist">
                    <li class="list">・<a href="#">linophiとは</a></li>
                    <li class="list">・<a href="#">トップ</a></li>
                    <li class="list">・<a href="#">タグ一覧</a></li>
                    @*<li class="list">・<a href="#">ランキング</a></li>*@
                    @*<li class="list">・<a href="#">カテゴリ</a></li>*@
                </ul>
            </nav>
            <div class="vertex"></div>
            <nav class="box">
                <ul class="ulist">
                    <li class="list">・<a href="~/Pages/Home/TermsOfService/">利用規約</a></li>
                    <li class="list">・<a href="~/Pages/Home/PrivacyPolicy/">プライバシーポリシー</a></li>
                    <li class="list">・<a href="#">お問い合わせ</a></li>
@*                    <li class="list">・<a href="#">運営</a></li>このままだとbeepって何だよ!?ってなる*@
                </ul>
            </nav>
        </nav>
    </footer>
</div>
