<footer>
    <nav class="box-container">     
        <span><a href="#">意見.みんなについて</a></span>
        <span><a href="~/Pages/Home/TermsOfService/">利用規約</a></span>
        <span><a href="~/Pages/Home/PrivacyPolicy/">プライバシーポリシー</a></span>
        <span><a href="~/Inquiry">お問い合わせ</a></span>
    </nav>
    <div class="copyright">
        (c)beep 2014-
    </div>
</footer>
