<footer class="foot">
    <nav class="linophi">&nbsp;&nbsp;linophi</nav>
    <nav class="boxcontainer">
        <nav class="box">
            <img src="#">
        </nav>
        <hr class="vertex"></hr>
        <nav class="box">
            <ul class="ulist">
                <li class="list">・<a href="http://www.yahoo.co.jp/">linophiとは</a></li>
                <li class="list">・<a href="http://www.yahoo.co.jp/">トップ</a></li>
                <li class="list">・<a href="http://www.yahoo.co.jp/">タグ一覧</a></li>
                <li class="list">・<a href="http://www.yahoo.co.jp/">ランキング</a></li>
                <li class="list">・<a href="http://www.yahoo.co.jp/">カテゴリ</a></li>
            </ul>
        </nav>
        <hr class="vertex"></hr>
        <nav class="box">
            <ul class="ulist">
                <li class="list">・<a href="http://www.yahoo.co.jp/">利用規約</a></li>
                <li class="list">・<a href="http://www.yahoo.co.jp/">プライバシーポリシー</a></li>
                <li class="list">・<a href="http://www.yahoo.co.jp/">お問い合わせ</a></li>
                <li class="list">・<a href="http://www.yahoo.co.jp/">beep</a></li>
            </ul>
        </nav>
    </nav>
    <nav class="copyright">(C) beep 2014</nav>
</footer>
