@using Web.Utility
<header class="header">
    <div class="menu">
        <form class="search">
            <input type="search" class="search-text" >
            <input type="button" class="search-button" value="検索">
        </form>
        <div class="menu-list">
            <ul>
                <li>@Html.ActionLink("トップへ", "Index", "Home")</li>
                |
                <li>@Html.ActionLink("投稿する","RedirectToEdit","Edit")</li>
                |
                <li>
                    @{
                         if (!Request.IsAuthenticated)
                         {
                             @Html.ActionLink("ログイン", "Login", "Account")
                         }
                         else
                         {
                             @WebPageStatic.GetUserNickName(Request)
                         }
                    }
                </li>
            </ul>
        </div>
    </div>
</header>