@using Web.Utility
<header class="header">
    <div class="menu">
        <div class="search">
            検索フォーム
        </div>
        <div class="menu-list">
            <ul>

                <li>@Html.ActionLink("投稿する","index","Edit")</li>
                |
                <li>
                    @{
                         if (!Request.IsAuthenticated)
                         {
                             @Html.ActionLink("ログイン", "Login", "Account")
                         }
                         else
                         {
                             @WebPageStatic.GetUserNickName(Request)
                         }
                    }
                </li>
            </ul>
        </div>
    </div>
</header>