@{
    ViewBag.Title = "404";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section CSS
{
    <link href="~/Content/css/Home/Page404.css" rel="stylesheet" />
}
<div class="page-main">
    403
    access forbidden
</div>