@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
        <meta name="robots"  content="no-"/>
    </head>
    <body>
        <div>
              
        </div>
    </body>
</html>