@import "../Color.less";

.layout {
    width: 500px;
    margin: 0 auto;

    .inquiry-form{
        border:1px solid @accent-highlight-color-1;
        padding:25px;

        h1{
            
            margin:0 auto; 
            font-size: xx-large;
            padding: 0 20px;
            text-align:center;
            border-bottom:1px solid @accent-highlight-color-1;
        }

        h2 {
            /*.head-shadow(@header-style-2-color-shadow-1,@header-style-2-color-shadow-2);*/
            font-size: x-large;
            padding: 0;
            margin:20px 0 0 35px;
            width:55%;
            /*border-top:1px solid @accent-highlight-color-1;*/
            border-bottom:1px solid @accent-highlight-color-1;
        }

        .layout-inner {
            margin: 30px 0 0 0;
        }

        input {
            .textbox-style-1-mixin;
            margin: 15px 0 15px 35px;
            height: 20px;
            width: 75%;
            padding: 5px 10px;
            border:none;
        
        }

        input:focus {
            background-color:@submit-button-style-1-color-bg;
            color:@submit-button-style-1-color-fore;
            outline: none;
        }

        input:hover {
            border: 2px #a4c6fd !important;
        }


        textarea {
            margin: 17px 0 10px 25px;
            resize: none;
            height:200px;
            width:400px;
            border:1px solid @accent-light-color-2;
        }

        a {
            line-height: 60px;
            .submit-button-style-1-mixin;
        }

        .submit-button-container {
            text-align: center;
            .submit-inquiry{
            }
        }
    }
}
