@import "../Color.less";

.layout {
    width: 500px;
    margin: 0 auto;

    .inquiry-form {
        border: @border-ccc-all;
        padding: 25px;

        div.error {
                font-size: 15px;
                text-align: center;
                color: red;
        }

        h1 {
            margin: 0 auto;
            font-size: xx-large;
            padding: 0 20px;
            text-align: center;
            border-bottom: @border-ccc-all
        }

        h2 {
            /*.head-shadow(@header-style-2-color-shadow-1,@header-style-2-color-shadow-2);*/
            font-size: x-large;
            padding: 0;
            margin: 20px 0 0 35px;
            width: 55%;
            /*border-top:1px solid @accent-highlight-color-1;*/
            border-bottom: @border-ccc-all;
        }

        .layout-inner {
            margin: 30px 0 0 0;
        }

        input {
            background-color: @bg-color-1;
            margin: 15px 0 15px 35px;
            height: 20px;
            width: 75%;
            padding: 5px 10px;
            border-top: @border-ccc-all;
            border-bottom: @border-ccc-all;
            border-right: @border-ccc-all;
            border-left: @border-ccc-all;
            border-radius: 2px;
        }

        input:focus {
            box-shadow: rgba(113, 135, 164, 0.65098) 0px 0px 1px 1px;
            -webkit-box-shadow: rgba(113, 135, 164, 0.65098) 0px 0px 1px 1px;
            -moz-box-shadow: rgba(113, 135, 164, 0.65098) 0px 0px 1px 1px;
        }

        textarea {
            margin: 17px 0 10px 25px;
            resize: none;
            height: 200px;
            width: 400px;
            border: @border-ccc-all;
            background-color: @bg-color-1;
            padding: 1px;
            border-radius: 2px;
        }

        textarea:focus {
            box-shadow: rgba(113, 135, 164, 0.65098) 0px 0px 1px 1px;
            -webkit-box-shadow: rgba(113, 135, 164, 0.65098) 0px 0px 1px 1px;
            -moz-box-shadow: rgba(113, 135, 164, 0.65098) 0px 0px 1px 1px;
        }

        a {
            line-height: 60px;
            .submit-button-style-2-mixin;
        }

        .submit-button-container {
            text-align: center;

            .submit-inquiry {
            }
        }
    }
}
