html {
    overflow-y: scroll;
}

body {
    *position: relative;
    font: 20px/1.5 arial,sans-serif;
    width: 100%;
    background-color: #fff;
}

.main-contents {
    margin: 0 auto;
    width: 70%;

    h1 {
        font-size: xx-large;
        padding-left: 15px;
        margin: 6% 0 1% 0;
        box-shadow: -10px 0 #afdbcc, -20px 0 #7ac2a6;
        width: 400px;
    }

    .honbun {
        padding-left: 15px;

        h2 {
            font-size: 17px;
            font-weight: bold;
        }

        dl {
            padding: 15px;
            margin-top: 20px;
            border: 1px solid #888;
        }

        dt {
            border-bottom: 1px solid #888;
            padding: 0 0 10px 10px;
        }

        dd {
            padding: 10px;

            p {
                margin: 5px;
                color: #444;
            }

            ul {
                padding-bottom: 7px;

                li {
                    padding: 10px 0 3px 20px;
                    font-weight: bold;
                }
            }
        }
    }

    .dropbox {
        margin-top: 30px;
        margin-left: 20px;
        float: left;
        background: #F0EBCE;
        width: 300px;
        padding-bottom: 1000000px;
        margin-bottom: -1000000px;
    }
}
