html {
    overflow-y: scroll;
}

body {
    *position: relative;
    font: 15px/1.5 arial,sans-serif;
    width: 100%;
    background-color: #fff;
}

.thumbnail{
    width:100px;
    height:auto;
}

.contents {
    padding-bottom:25px;
    overflow:hidden;
    .wrapper {
        width: 960px;
        margin: 0 auto;

        .main {
            float: left;
            width: 635px;
            padding-bottom: 40px;

            .search-result {

                .search-header{
                    background-color:blanchedalmond;
                    width:90.5%;
                    margin-top:30px;
                    margin-left:0;
                    padding:20px 30px;
                    padding-bottom:20px;
                    form{
                        margin-top:10px;
                        margin-left:10px;
                        select{
                            border:none;
                        }
                        select:focus{
                            outline:none;
                        }
                    }
                }
                .search-header:focus{
                    outline:none;
                }
                .listitem {
                    display: table;
                    margin: 30px 30px 30px;
                    padding: 10px;

                    .listthum {
                        display: table-cell;
                        width: 60px;
                        height: 60px;
                        padding: 0 15px 0 0;
                        vertical-align: top;

                        a {
                            display: block;
                            width: 60px;
                            height: 60px;
                            overflow: hidden;
                        }
                    }

                    .listtxt {
                        display: table-cell;
                        vertical-align: middle;
                        table-layout: fixed;
                        width: 100%;

                        max-width: 400px;
                        padding-left: 20px;

                        .listtitle {
                            display: inline;
                            line-height: 1.1;
                            font-size: 20px;
                            font-weight: normal;
                            margin-right: 15px;

                            a {
                                word-wrap:break-word;
                                padding: 6px 0;
                                color: #000;
                            }
                        }

                        .listdesc {
                            color: #aaa;
                        }
                    }
                }

                .listitem:hover {
                    background-color: antiquewhite;
                }
                .my-editted,.search-editted{
                    margin-top:30px;
                    background-color:rgba(240,255,240,1);
                    .adjust{
                        padding-top:5px;
                        padding-bottom:10px;
                    }
                }
            }
        }

        .dropbox {
            margin-top:30px;
            margin-left: 20px;
            float: left;
            background: #F0EBCE;
            width: 300px;
            padding-bottom: 1000000px;
            margin-bottom: -1000000px;
        }
    }
}
