@import "../Color.less";

html {
    overflow-y: scroll;
}

body {
    *position: relative;
    font: 15px/1.5 arial,sans-serif;
    width: 100%;
   // background-color: @bg-color-2;
}

.contents {
    padding:20px 0 0 30px;
    overflow: hidden;

    .wrapper {
        width: 960px;
        margin: 0 auto;

        .main {
            float: left;
            width: 700px;
            padding-bottom: 40px;

            .page-control {
                .page-control-mixin;
            }
        }

        .search-result {

            .search-editted{
                background-color:white;
            }

            .search-header {
                background-color: @bg-color-1;
                width: 90.5%;
                margin:30px 0 0 0;
                padding: 20px 30px 20px 30px;
                border: 1px solid #ccc;

                form {
                    margin:10px 0 0 10px;
                    border: 1px;

                    select {
                    }

                    select:focus {
                        outline: none;
                    }
                }
            }

            .search-header:focus {
                outline: none;
            }

            .listitem {
                display: table;
                padding: 30px;
                border-top: 1px solid #ddd;
                cursor: pointer;
                &:hover {
                    background: @bg-color-2;
                }

                .listthum {
                    display: table-cell;
                    width: 60px;
                    height: 60px;
                    padding: 0 15px 0 0;
                    vertical-align: top;

                    a {
                        display: block;
                        width: 60px;
                        height: 60px;
                        overflow: hidden;
                    }
                }

                .listtxt {
                    display: table-cell;
                    vertical-align: middle;
                    table-layout: fixed;
                    width: 100%;
                    max-width: 400px;
                    padding-left: 20px;

                    .listtitle {
                        display: inline;
                        line-height: 1.1;
                        font-size: 20px;
                        font-weight: normal;
                        margin-right: 15px;

                        a {
                            word-wrap: break-word;
                            padding: 6px 0;
                            color: #1A0DAB;
                            text-decoration: none;
                        }
                    }

                    .listdesc {
                        color: @accent-dark-color-1;
                    }
                }
            }

            .listitem:hover {
                text-decoration: solid;
            }

            .my-editted, .search-editted {
                margin-top: 30px;
                width: 100%;

                .adjust {
                    //padding-top: 5px;
                    padding-bottom: 10px;
                    /*border:1px solid #660000;*/
                }
            }
        }
    }
    /*.dropbox {
            margin-top: 30px;
            margin-left: 20px;
            float: left;
            background: #F0EBCE;
            width: 300px;
            padding-bottom: 1000000px;
            margin-bottom: -1000000px;
        }*/
}
