html {
  overflow-y: scroll;
}
body {
  *position: relative;
  font: 15px/1.5 arial, sans-serif;
  width: 100%;
  background-color: #fff;
}
.thumbnail {
  width: 100px;
  height: auto;
}
.contents {
  padding-bottom: 25px;
  overflow: hidden;
}
.contents .wrapper {
  width: 960px;
  margin: 0 auto;
}
.contents .wrapper .main {
  float: left;
  width: 700px;
  padding-bottom: 40px;
}
.contents .wrapper .main .page-control {
  margin: 15px 80px 0 80px;
  font-size: 25px;
}
.contents .wrapper .main .page-control a {
  text-decoration: none;
  color: #aaa;
  cursor: pointer;
}
.contents .wrapper .main .page-control .page-before {
  float: left;
  border: 1px solid #E0F0F0;
  border-radius: 10px;
  background-color: #E0F0E0;
  padding: 5px;
  margin-left: 50px;
}
.contents .wrapper .main .page-control .page-before:hover {
  background-color: #F0F8FF;
}
.contents .wrapper .main .page-control .page-after {
  float: right;
  border: 1px solid #E0F0F0;
  border-radius: 10px;
  background-color: #E0F0E0;
  padding: 5px;
  margin-right: 50px;
}
.contents .wrapper .main .page-control .page-after:hover {
  background-color: #F0F8FF;
}
.contents .wrapper .main .search-result .search-header {
  background-color: blanchedalmond;
  width: 90.5%;
  margin-top: 30px;
  margin-left: 0;
  padding: 20px 30px;
  padding-bottom: 20px;
}
.contents .wrapper .main .search-result .search-header form {
  margin-top: 10px;
  margin-left: 10px;
}
.contents .wrapper .main .search-result .search-header form select {
  border: none;
}
.contents .wrapper .main .search-result .search-header form select:focus {
  outline: none;
}
.contents .wrapper .main .search-result .search-header:focus {
  outline: none;
}
.contents .wrapper .main .search-result .listitem {
  display: table;
  margin: 20px 0 20px 20px;
  padding: 10px;
}
.contents .wrapper .main .search-result .listitem .listthum {
  display: table-cell;
  width: 60px;
  height: 60px;
  padding: 0 15px 0 0;
  vertical-align: top;
}
.contents .wrapper .main .search-result .listitem .listthum a {
  display: block;
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.contents .wrapper .main .search-result .listitem .listtxt {
  display: table-cell;
  vertical-align: middle;
  table-layout: fixed;
  width: 100%;
  max-width: 400px;
  padding-left: 20px;
}
.contents .wrapper .main .search-result .listitem .listtxt .listtitle {
  display: inline;
  line-height: 1.1;
  font-size: 20px;
  font-weight: normal;
  margin-right: 15px;
}
.contents .wrapper .main .search-result .listitem .listtxt .listtitle a {
  word-wrap: break-word;
  padding: 6px 0;
  color: #000;
}
.contents .wrapper .main .search-result .listitem .listtxt .listdesc {
  color: #aaa;
}
.contents .wrapper .main .search-result .listitem:hover {
  background-color: antiquewhite;
}
.contents .wrapper .main .search-result .my-editted,
.contents .wrapper .main .search-result .search-editted {
  margin-top: 30px;
  width: 100%;
  background-color: #f0fff0;
}
.contents .wrapper .main .search-result .my-editted .adjust,
.contents .wrapper .main .search-result .search-editted .adjust {
  padding-top: 5px;
  padding-bottom: 10px;
}
.contents .wrapper .dropbox {
  margin-top: 30px;
  margin-left: 20px;
  float: left;
  background: #F0EBCE;
  width: 300px;
  padding-bottom: 1000000px;
  margin-bottom: -1000000px;
}
/*# sourceMappingURL=Search.css.map */