ol,
ul {
  list-style: none;
}
img,
fieldset {
  border: none;
}
input {
  *margin: -1px 0;
  font-size: 1.0em;
}
html {
  overflow-y: scroll;
}
body {
  *position: relative;
  font: 15px/1.5 arial, sans-serif;
  width: 100%;
  background-color: #fff;
}
a:link,
a:visited {
  color: #2468ce;
  text-decoration: underline;
}
a:hover,
a:active,
a:focus {
  color: #2468ce;
  text-decoration: none;
}
a img {
  vertical-align: top;
}
:focus {
  outline: none;
}
input,
button {
  border: 0;
}
input[type="text"] {
  -webkit-appearance: none;
}
.MdCF:after {
  content: "";
  display: block;
  clear: both;
}
.Separator {
  display: inline-block;
  width: 0;
  overflow: hidden;
  border-left-width: 1px;
  border-left-style: solid;
  vertical-align: -1px;
  height: 11px;
  margin: 0 5px;
  border-left-color: #c9cdd0;
}
.LyWrap .lyWrapInner {
  width: 100%;
  min-width: 960px;
}
.LyHead {
  z-index: 501;
  width: 100%;
  border-top: 3px solid #333;
  border-bottom: 1px solid #e7e7e7;
}
.LyHead .lyHeadInner {
  position: relative;
  width: 960px;
  height: 44px;
  margin: 0 auto;
}
.LyHead hgroup {
  display: inline;
}
.HeadUtil {
  position: absolute;
  top: 11px;
  right: 0;
  text-align: right;
}
.HeadUtil .HeadUtilLi {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
}
.HeadUtil .HeadUtilLi a,
.HeadUtil .HeadUtilLi a:link,
.HeadUtil .HeadUtilLi a:visited {
  display: inline-block;
  padding: 5px 0;
  color: #545454;
  text-decoration: none;
}
.HeadUtil .HeadUtilLi a:hover,
.HeadUtil .HeadUtilLi a:active {
  color: #545454;
  text-decoration: underline;
}
.HeadSeparator {
  display: inline-block;
  width: 0;
  overflow: hidden;
  border-left-width: 1px;
  border-left-style: solid;
  vertical-align: -1px;
  height: 11px;
  margin: 0 9px 0 11px;
  border-left-color: #eaeaea;
}
.LyContents {
  padding-bottom: 25px;
}
.LyContents .lyContentsWrap {
  width: 960px;
  margin: 0 auto;
}
.LyTop {
  margin-bottom: 30px;
  border-bottom: 1px solid #f2f2f2;
  background-color: #fdf8f2;
}
.LyTop .lyTopInner {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 15px;
}
.LyTop .TopicWordList {
  padding: 10px 0 5px;
  border-bottom: 1px solid #e6e6e6;
}
.Main {
  float: left;
  width: 635px;
  padding-bottom: 40px;
}
.Sub {
  position: relative;
  float: right;
  width: 300px;
  padding-bottom: 40px;
}
.Foot {
  width: 100%;
  border-top: 1px solid #e7e7e7;
}
.Foot .FootInner {
  width: 960px;
  margin: 0 auto;
  padding: 25px 0;
}
.Link .LinkUl {
  float: left;
  line-height: 1;
}
.Link .LinkLi {
  display: inline;
}
.Link .LinkLi a {
  color: #333;
  font-size: 11px;
}
.Link .LinkLi a:link,
.Link .LinkLi a:visited {
  text-decoration: none;
}
.Link .Link01Li a:hover,
.Link .LinkLi a:active,
.Link .LinkLi a:focus {
  text-decoration: underline;
}
.PageButton {
  line-height: 1.2;
  margin: 30px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}
.PageButton strong {
  padding: 9px 11px;
  color: #000;
}
.PageButton a,
.PageButton strong {
  display: inline-block;
  margin: 0 2px;
  padding: 8px 11px;
  font-weight: bold;
  vertical-align: top;
}
.PageButton a:link,
.PageButton a:visited {
  border: 1px solid #ebebeb;
  color: #999;
  text-decoration: none;
}
.PageButton a:hover,
.PageButton a:active,
.PageButton a:focus {
  cursor: pointer;
  background-color: #f0f0f0;
  color: #000;
  text-decoration: none;
}
.Heading {
  padding-top: 15px;
  position: relative;
}
.Heading .HeadingMain {
  float: left;
  width: 725px;
}
.Heading .HeadingThumb {
  float: right;
  margin: 0 15px 15px 0;
}
.Heading .HeadingThumb img {
  width: 105px;
  height: 105px;
}
.Heading .HeadingTxt {
  margin-top: -13px;
}
.Heading .HeadingMainWithThumb .HeadingTxt {
  margin-bottom: 10px;
  font-size: 30px;
}
.Heading .HeadingTtl a {
  margin: 0 15px 0 0;
  padding: 6px 0;
  color: #000;
  text-decoration: none;
}
.Heading .HeadingTtl a:hover {
  color: #000;
  text-decoration: underline;
}
.Heading .HeadingUser {
  display: inline-block;
  margin-right: 6px;
}
.Heading .HeadingUserThumb {
  margin-right: 10px;
}
.Heading .HeadingUserName {
  line-height: 30px;
  vertical-align: middle;
}
.Heading .HeadingSub {
  float: left;
  width: 220px;
  text-align: right;
}
.Heading .HeadingCount {
  margin: 0 0 8px 20px;
}
.Heading .HeadingCountFV {
  display: inline-block;
  padding-right: 13px;
  vertical-align: top;
  text-align: center;
}
.Heading .HeadingCountFV .HeadingCountLabel {
  margin-top: 5px;
  font-size: 10px;
}
.Heading .HeadingCountPV {
  display: inline-block;
  padding-left: 13px;
  border-left: 1px solid #ebebeb;
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
}
.Heading .HeadingCountNum {
  display: block;
  line-height: 1;
  margin-top: -3px;
  color: #000;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
.Heading .HeadingCountLabel {
  display: block;
  margin-top: 3px;
  line-height: 1;
  color: #666;
  font-size: 11px;
}
.Heading01 .HeadingTtl {
  display: inline;
  font-size: 32px;
  line-height: 38px;
}
.Heading01 .HeadingUserName > a {
  color: #000 !important;
  font-weight: bold;
}
.Heading .HeadingUserName  > a:link,
.Heading .HeadingUserName  > a:visited {
  text-decoration: none;
}
.Heading .HeadingUserName  > a:hover,
.Heading .HeadingUserName  > a:active,
.Heading .HeadingUserName  > a:focus {
  text-decoration: underline;
}
.TopicPath {
  display: inline-block;
}
.TopicPath li {
  display: inline;
  margin: 0 0 0 4px;
}
.TopicPath li a {
  color: #4c4c4c;
}
.TopicPath li:first-child {
  margin-left: 0;
  padding: 0 13px 0 0;
}
.TopicWordList {
  min-height: 29px;
}
.TopicWordList .TopicWordListUl {
  display: inline;
  border: 3px;
}
.TopicWordList .TopicWordListLi {
  float: left;
  margin: 0 5px 5px 0;
}
.TopicWord {
  position: relative;
  display: inline-block;
  height: 21px;
  line-height: 22px;
  padding: 1px 6px 0;
  background-color: #fefbfa;
  border: 1px solid #7ac2a6;
  color: #000 !important;
  text-decoration: none !important;
  font-size: 11px;
  white-space: nowrap;
}
.TopicWord .TopicWord01Num {
  position: relative;
  top: -1px;
  display: inline-block;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
a.TopicWord {
  cursor: pointer;
}
a.TopicWord:hover {
  background: #f0f0f0;
}
.ExOsMac .TopicWord .TopicWordNum {
  margin-right: -1px;
  margin-left: 5px;
}
.SubContents {
  background-color: #fdf8f2;
}
.SubTtl {
  position: relative;
  padding: 13px 15px 0;
  color: #000;
  font-weight: bold;
  font-size: 12px;
}
.SubList {
  padding: 15px 30px 9px;
}
.List .ListItem {
  display: table;
  width: 100%;
  margin: 30px 0 0;
}
.List .ListItem:first-child {
  margin-top: 0;
}
.List .ListThumb {
  display: table-cell;
  width: 60px;
  height: 60px;
  padding: 0 15px 0 0;
  vertical-align: top;
}
.List .ListThumb a {
  display: block;
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.List .ListTxt {
  display: table-cell;
  vertical-align: middle;
  table-layout: fixed;
  width: 100%;
  max-width: 560px;
}
.List .ListTtl {
  display: inline;
  line-height: 1.1;
  font-size: 20px;
  font-weight: normal;
  margin-right: 15px;
}
.List .ListTtl a {
  padding: 6px 0;
  color: #000;
}
.List .ListDesc {
  color: #aaa;
}
.List .ListTtl a:link,
.List .ListTtl a:visited {
  text-decoration: none;
}
.List04 .ListTtl a:hover,
.List .ListTtl a:active,
.List .ListTtl a:focus {
  text-decoration: underline;
}
.List .List04Date,
.List .List04View {
  display: inline-block;
}
.LyMain .Separator1,
.LyMain .Separator2 {
  border-top: 1px solid #e7e7e7;
}
.LyMain .Separator1 hr,
.LyMain .Separator2 hr {
  display: none;
}
.LyMain .Separator1 {
  margin: 40px 0;
}
.LyMain .Separator2 {
  margin: 25px 0 40px;
}
.ViewHead {
  width: 100%;
  min-width: 960px;
  margin: 0 auto;
  z-index: 500;
}
.ViewHead .ViewHeadInner {
  position: relative;
  width: 960px;
  height: 24px;
  line-height: 23px;
  margin: 0 auto;
  padding: 6px 0;
}
.ViewHead .TopicPath {
  margin-right: 12px;
  vertical-align: top;
}
.ViewHead .TopicPath li {
  vertical-align: -1px;
}
.ViewHead .TopicWordList {
  display: inline-block;
  max-height: 24px;
  padding: 0 0 0 0;
  border-bottom: 0;
}
.WidgetList {
  position: relative;
  padding-bottom: 1px;
}
.Widget.WidgetTypeTtl {
  margin-bottom: 25px;
}
.Widget.WidgetTypeTtl .WidgetItemTtlView {
  line-height: 1.3;
  padding-bottom: 5px;
  border-bottom: 2px solid #eaecee;
  font-weight: bold;
  font-size: 20px;
}
.RelList {
  position: relative;
  margin: 10px 0 10px 0;
}
/*# sourceMappingURL=StyleSheet.css.map */