@import "../Color.less";

body {
    background-image: url('../../imgs/bgtest-skyblue.png');
}

a {
    color: @link-normal;
    text-decoration: none;

    &:visited {
        color: @link-visited;
    }
}

.top-container {
    padding: 0 70px;
    // box-shadow: 0 0 50px 70px #fff;
    background: #fff;
    width: 960px;
    margin: 0 auto;
}


.top-header {
    height: 120px;
    padding: 20px 36px;
    text-align: center;

    > h1 {
        font-size: 70px;
        float: left;

        a {
            color: #131313;
            font-family: 'bokutachi';
        }

        span {
            &:nth-child(1) {
                padding: 0 10px;
            }

            &:nth-child(2) {
                color: @top-accent-1;
            }

            &:nth-child(3) {
                color: @top-accent-2;
            }

            &:nth-child(4) {
                color: @top-accent-3;
            }
        }
    }

    > .top-subttl {
        margin-top: 50px;
        margin-left: 70px;
        float: left;
        position: relative;
        font-size: 20px;
        color: #888;
    }
}

.top-main {
}

.top-contents {
    width: 800px;
}

.top-topics-flare {
    margin: 40px 0 70px;

    > h2 {
        position: relative;
        width: 370px;
        left: -16px;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
        padding: 10px 20px;
        background: @top-accent-3;
        color: #fff;
    }

    .top-subject-wrapper {
        .top-subject {
            float: none;
            margin: 0 20px 20px 0;
            background-color: #eee;
            box-shadow: 0 0 5px rgba(221, 221, 221, 0.5) inset;

            span {
                padding-left:20px;
            }

            > a {
                color: #444;
                display: block;
                padding: 4px 8px;
                text-decoration: underline;
                overflow: hidden;

                &:hover {
                    background: #ddd;
                }
            }
        }
    }
}

.top-topics-category {
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 70px;
    box-sizing: border-box;
}

.top-post-this {
    line-height: 100px;
    padding: 20px 60px;
    color: white;
    font-size: large;
    background-color: @top-accent-3;

    &:visited {
        color: white;
    }
}

.top-topics-category section:nth-child(3n+1) {
    .top-title {
        background-color: @top-accent-1;
    }

    .top-post-this {
        background-color: @top-accent-1;
    }
}

.top-topics-category section:nth-child(3n+2) {
    .top-title {
        background-color: @top-accent-2;
    }

    .top-post-this {
        background-color: @top-accent-2;
    }
}

.top-post-this-container {
    text-align: center;
    margin-bottom: 90px;
}

.top-summary {
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 15px;
}

.top-title {
    padding: 10px 20px;
    margin: 0 0 20px;
    background-color: @top-accent-3;
    height: 30px;
    width: 370px;
    overflow: hidden;
    position: relative;
    left: -50px;

    > h3 {
        position: absolute;
        top: 50%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 1;
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        color: #fff;

        a {
            color: #fff;

            &:visited {
                color: #fff;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.top-factor {
    padding: 0 24px 16px;
    overflow: hidden;
    font-size: 13px;
    color: #444;

    > img {
        float: left;
        width: 200px;
        margin: 0 40px 20px 0;
    }

    .test {
        width: 500px;
    }
}

.top-index {
}

.top-index-box {
    width: 366px;

    > p {
        margin: 0 16px 7px 0;
        padding-left: 40px;
        padding-bottom: 6px;
        border-bottom: 1px solid #aaa;
        font-weight: bold;
        font-size: 18px;
    }

    > ul {
        > li {
            cursor: pointer;
            margin-right: 16px;
            padding: 12px 30px;
            font-size: 14px;

            &:hover {
                background: #eee;
            }

            > small {
                float: right;
                text-align: right;
                font-size: 10px;
                color: #888;
            }
        }
    }
}

.top-rightbar {
    float: right !important;
    width: 160px;

    > .top-notification {
        height: 400px;
        //border: 4px solid #ccc;
    }

    > .top-ads {
        img {
            display: block;
            vertical-align: bottom;
        }
    }
}

.clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }

    > * {
        float: left;
    }
}
