.top-container {

}

.top-header {

}

.top-main {

}

.top-contents {

}

.top-topics-flare {

  > h2 {

  }

  > div {

  }
}

.top-topics-category {

}

.top-summary {

}

.top-title {

  > img {

  }
  
  > p {

  }
}

.top-factor {
  > p {

  }
}

.top-index {

}

.top-index-box {
  > h2 {

  }
  > ul {
    > li {

    }
  }
}

.top-index-box {
  > h2 {

  }
  > ul {
    > li {

    }
  }
}

.top-sidebar {
  > .top-ads {

  }
}



.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
