body {
  background-image: url('../../imgs/bgtest-skyblue.png');
}
a {
  color: #0c2a81;
  text-decoration: none;
}
a:visited {
  color: #7b23a9;
}
.top-container {
  padding: 0 70px;
  background: #fff;
  width: 960px;
  margin: 0 auto;
}
.top-header {
  height: 120px;
  padding: 20px 36px;
  text-align: center;
}
.top-header > h1 {
  font-size: 70px;
  float: left;
}
.top-header > h1 a {
  color: #131313;
  font-family: '游明朝';
}
.top-header > h1 span:nth-child(1) {
  padding: 0 10px;
}
.top-header > h1 span:nth-child(2) {
  color: #4385f5;
}
.top-header > h1 span:nth-child(3) {
  color: #dc4437;
}
.top-header > h1 span:nth-child(4) {
  color: #f5b400;
}
.top-header > .top-subttl {
  margin-top: 50px;
  margin-left: 70px;
  float: left;
  position: relative;
  font-size: 20px;
  color: #888;
}
.top-contents {
  width: 800px;
}
.top-topics-flare {
  margin: 40px 0 70px;
}
.top-topics-flare > h2 {
  position: relative;
  width: 370px;
  left: -16px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px 20px;
  background: #f5b400;
  color: #fff;
}
.top-topics-flare .top-subject {
  margin-right: 16px;
  margin-bottom: 16px;
  background-color: #eee;
  box-shadow: 0 0 5px rgba(221, 221, 221, 0.5) inset;
}
.top-topics-flare .top-subject > a {
  color: #444;
  display: block;
  padding: 4px 8px;
  text-decoration: underline;
}
.top-topics-flare .top-subject > a:hover {
  background: #ddd;
}
.top-topics-category {
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 70px;
  box-sizing: border-box;
}
.top-post-this {
  line-height: 100px;
  padding: 20px 60px;
  color: white;
  font-size: large;
  background-color: #f5b400;
}
.top-post-this:visited {
  color: white;
}
.top-topics-category section:nth-child(3n+1) .top-title {
  background-color: #4385f5;
}
.top-topics-category section:nth-child(3n+1) .top-post-this {
  background-color: #4385f5;
}
.top-topics-category section:nth-child(3n+2) .top-title {
  background-color: #dc4437;
}
.top-topics-category section:nth-child(3n+2) .top-post-this {
  background-color: #dc4437;
}
.top-post-this-container {
  text-align: center;
  margin-bottom: 90px;
}
.top-summary {
  border: 1px solid #ddd;
  margin-bottom: 5px;
  padding: 15px;
}
.top-title {
  padding: 10px 20px;
  margin: 0 0 20px;
  background-color: #f5b400;
  height: 30px;
  width: 370px;
  overflow: hidden;
  position: relative;
  left: -50px;
}
.top-title > h3 {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.top-title > h3 a {
  color: #fff;
}
.top-title > h3 a:visited {
  color: #fff;
}
.top-title > h3 a:hover {
  text-decoration: underline;
}
.top-factor {
  padding: 0 24px 16px;
  overflow: hidden;
  font-size: 13px;
  color: #444;
}
.top-factor > img {
  float: left;
  width: 200px;
  margin: 0 40px 20px 0;
}
.top-factor .test {
  width: 500px;
}
.top-index-box {
  width: 366px;
}
.top-index-box > p {
  margin: 0 16px 7px 0;
  padding-left: 40px;
  padding-bottom: 6px;
  border-bottom: 1px solid #aaa;
  font-weight: bold;
  font-size: 18px;
}
.top-index-box > ul > li {
  cursor: pointer;
  margin-right: 16px;
  padding: 12px 30px;
  font-size: 14px;
}
.top-index-box > ul > li:hover {
  background: #eee;
}
.top-index-box > ul > li > small {
  float: right;
  text-align: right;
  font-size: 10px;
  color: #888;
}
.top-rightbar {
  float: right !important;
  width: 160px;
}
.top-rightbar > .top-notification {
  height: 400px;
}
.top-rightbar > .top-ads img {
  display: block;
  vertical-align: bottom;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.clearfix > * {
  float: left;
}
/*# sourceMappingURL=Top.css.map */