ol,
ul {
  list-style: none;
}
img,
fieldset {
  border: none;
}
html {
  overflow-y: scroll;
  height: 100%;
}
body {
  *position: relative;
  font: 15px/1.5 arial, sans-serif;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.article-container h1 {
  box-shadow: -18px 0 #afdbcc, -28px 0 #7ac2a6;
  font-size: xx-large;
  margin: 1em 0 1em 0;
  padding: 0 20px;
  background-color: ghostwhite;
}
.article-container h2 {
  box-shadow: -18px 0 #f0f8ff, -28px 0 #87ceeb;
  font-size: x-large;
  margin: 1em 0 1em 0;
  padding: 0 20px;
  background-color: ghostwhite;
}
.article-container h3 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-size: large;
  margin: 1em 0 1em 0;
  padding: 0 20px 5px 20px;
  background-color: ghostwhite;
}
.article-container h4 {
  font-weight: bold;
  font-size: larger;
  margin: 1em 0 1em 0;
  padding: 0 20px;
  background-color: ghostwhite;
}
.article-container .x_b {
  font-weight: bold;
}
.article-container p {
  margin: 1em 0 1em 0;
}
a img {
  vertical-align: top;
}
a:link,
a:visited {
  color: #2468ce;
  text-decoration: underline;
}
a:hover,
a:active,
a:focus {
  color: #2468ce;
  text-decoration: none;
}
:focus {
  outline: none;
}
input,
button {
  border: 0;
}
input[type="text"] {
  -webkit-appearance: none;
}
.set:after {
  content: "";
  display: block;
  clear: both;
}
.container .head {
  z-index: 501;
  width: 100%;
  border-top: 3px solid #333;
  border-bottom: 1px solid #e7e7e7;
}
.container .head-inner {
  position: relative;
  width: 1080px;
  height: 44px;
  margin: 0 auto;
}
.container .contents {
  padding-bottom: 25px;
  overflow: hidden;
}
.container .contents .top {
  margin-bottom: 30px;
  border-bottom: 1px solid #f2f2f2;
  background-color: #fdf8f2;
}
.container .contents .top-inner {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 15px;
}
.container .contents .top-inner .viewhead {
  width: 100%;
  min-width: 960px;
  margin: 0 auto;
  z-index: 500;
}
.container .contents .top-inner .viewhead-inner {
  position: relative;
  width: 960px;
  height: 24px;
  line-height: 23px;
  margin: 0 auto;
  padding: 6px 0;
}
.container .contents .top-inner .viewhead-inner .topicpath {
  display: inline-block;
  margin-right: 12px;
  vertical-align: top;
}
.container .contents .top-inner .viewhead-inner .topicpath li {
  display: inline;
  margin: 0 0 0 4px;
  vertical-align: -1px;
}
.container .contents .top-inner .viewhead-inner .topicpath li:first-child {
  margin-left: 0;
  padding: 0 13px 0 0;
}
.container .contents .top-inner .viewhead-inner .topicpath li a {
  color: #4c4c4c;
}
.container .contents .top-inner .viewhead-inner .topicwordlist {
  display: inline-block;
  max-height: 24px;
  padding: 0 0 0 0;
  border-bottom: 0;
}
.container .contents .top-inner .viewhead-inner .topicwordlistul {
  display: inline;
  border: 3px;
}
.container .contents .top-inner .viewhead-inner .topicwordlistli {
  float: left;
  margin: 0 5px 5px 0;
}
.container .contents .top-inner .viewhead-inner .topicwordlistli .topicword {
  position: relative;
  display: inline-block;
  height: 21px;
  line-height: 22px;
  padding: 1px 6px 0;
  background-color: #fefbfa;
  border: 1px solid #7ac2a6;
  color: #000 !important;
  text-decoration: none !important;
  font-size: 11px;
  white-space: nowrap;
}
.container .contents .top-inner .viewhead-inner .topicwordlistli .topicwordnum {
  position: relative;
  top: -1px;
  display: inline-block;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
.container .contents .top .navbar {
  padding-top: 15px;
  position: relative;
}
.container .contents .top .navbar-main {
  float: left;
  width: 725px;
}
.container .contents .top .navbar-main .navbar-thumb {
  float: right;
  margin: 0 15px 15px 0;
}
.container .contents .top .navbar-main .navbar-thumb img {
  width: 105px;
  height: 105px;
}
.container .contents .top .navbar-main .navbar-txt {
  margin-top: -13px;
}
.container .contents .top .navbar-main .navbar-txt .navbar-title a {
  margin: 0 15px 0 0;
  padding: 6px 0;
  color: #000;
  text-decoration: none;
}
.container .contents .top .navbar-main .navbar-txt .navbar-title a:hover {
  color: #000;
  text-decoration: underline;
}
.container .contents .top .navbar-main .navbar-count {
  margin: 0 0 8px 20px;
}
.container .contents .top .navbar-main .navbar-count .navbar-countfv {
  display: inline-block;
  padding-right: 13px;
  vertical-align: top;
  text-align: center;
}
.container .contents .top .navbar-main .navbar-count .navbar-countfv .navbar-countnum {
  display: block;
  line-height: 1;
  margin-top: -3px;
  color: #000;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
.container .contents .top .navbar-main .navbar-count .navbar-countfv .navbar-countlabel {
  display: block;
  margin-top: 3px;
  line-height: 1;
  color: #666;
  font-size: 11px;
}
.container .contents .top .navbar-main .navbar-count .navbar-countpv {
  display: inline-block;
  padding-left: 13px;
  border-left: 1px solid #ebebeb;
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
}
.container .contents .top .navbar-main .navbar-count .navbar-countpv .navbar-countnum {
  display: block;
  line-height: 1;
  margin-top: -3px;
  color: #000;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
.container .contents .top .navbar-main .navbar-count .navbar-countpv .navbar-countlabel {
  display: block;
  margin-top: 3px;
  line-height: 1;
  color: #666;
  font-size: 11px;
}
.container .contents .top .navbar-main .navbar-count .navbar-date {
  display: inline-block;
  padding-left: 13px;
  border-left: 1px solid #ebebeb;
  text-align: center;
  font-family: Tahoma, Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}
.container .contents .top .navbar-main .navbar-count .navbar-date .date {
  display: block;
  line-height: 1;
  margin-top: -3px;
  color: #000;
  font-size: 22px;
  font-family: Arial, Arial, Helvetica, sans-serif, sans-serif;
}
.container .contents .top .navbar-main .navbar-count .navbar-date .date-txt {
  display: block;
  margin-top: 3px;
  line-height: 1;
  color: #666;
  font-size: 11px;
}
.container .contents .top .navbar .navbar-sub {
  float: left;
  width: 220px;
  text-align: right;
}
.container .contents .top .navbar .navbar-sub .navbar-user {
  display: inline-block;
  margin-right: 6px;
}
.container .contents .top .navbar .navbar-mainwiththumb .navbar-txt {
  margin-bottom: 10px;
  font-size: 30px;
}
.container .contents .top .navbar .navbar-userthumb {
  margin-right: 10px;
}
.container .contents .top .navbar .navbar-username {
  line-height: 30px;
  vertical-align: middle;
}
.container .contents .contentswrapper {
  width: 960px;
  margin: 0 auto;
}
.container .contents .contentswrapper .main {
  float: left;
  width: 635px;
  padding-bottom: 40px;
}
.container .contents .contentswrapper .main .widgetlist {
  position: relative;
  padding-bottom: 1px;
}
.container .contents .contentswrapper .main .widgetlist .widgettypetitle {
  margin-bottom: 25px;
}
.container .contents .contentswrapper .main .widgetlist .widgettypetitle .widgetitemtitleview {
  line-height: 1.3;
  padding-bottom: 5px;
  border-bottom: 2px solid #eaecee;
  font-weight: bold;
  font-size: 20px;
}
.container .contents .contentswrapper .main .article-container p:hover {
  background-color: ghostwhite;
}
.container .contents .contentswrapper .main .rellist {
  position: relative;
  margin: 10px 0 10px 0;
}
.container .contents .contentswrapper .main .rellist .separator1 {
  margin: 40px 0;
}
.container .contents .contentswrapper .main .rellist .separator2 {
  margin: 25px 0 40px;
}
.container .contents .contentswrapper .main .rellist .list .listitem {
  display: table;
  margin: 30px 30px 30px;
  padding: 10px;
}
.container .contents .contentswrapper .main .rellist .list .listitem:first-child {
  margin-top: 0;
}
.container .contents .contentswrapper .main .rellist .list .listitem:hover {
  background-color: antiquewhite;
}
.container .contents .contentswrapper .main .rellist .list .listthumb {
  display: table-cell;
  width: 60px;
  height: 60px;
  padding: 0 15px 0 0;
  vertical-align: top;
}
.container .contents .contentswrapper .main .rellist .list .listthumb a {
  display: block;
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.container .contents .contentswrapper .main .rellist .list .listtxt {
  display: table-cell;
  vertical-align: middle;
  table-layout: fixed;
  width: 100%;
  max-width: 560px;
  padding-left: 20px;
}
.container .contents .contentswrapper .main .rellist .list .listtitle {
  display: inline;
  line-height: 1.1;
  font-size: 20px;
  font-weight: normal;
  margin-right: 15px;
}
.container .contents .contentswrapper .main .rellist .list .listtitle a {
  padding: 6px 0;
  color: #000;
}
.container .contents .contentswrapper .main .rellist .list .listdesc {
  color: #aaa;
}
.container .contents .postit {
  position: fixed;
  right: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.container .contents .postit-contents {
  background-color: #fdf8f2;
}
.container .contents .postit-title {
  padding: 13px 15px 0;
  color: #000;
  font-weight: bold;
  font-size: 12px;
}
.container .contents .postit-list {
  padding: 15px 30px 9px;
}
.container .contents .postit-list img {
  display: block;
  width: 130px;
}
.container .contents .postit-pasting {
  z-index: -100;
  height: 43px;
  width: 130px;
  visibility: hidden;
}
.container .contents .dropbox {
  position: relative;
  margin-left: 20px;
  float: left;
  background: #F0EBCE;
  width: 300px;
  padding-bottom: 1000000px;
  margin-bottom: -1000000px;
  z-index: 0;
  opacity: 1;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
.container .contents .dropbox img {
  width: 130px;
  float: left;
  margin-right: -120px;
}
.container .contents .foot {
  width: 100%;
  border-top: 1px solid #e7e7e7;
}
.container .contents .foot .foot-inner {
  width: 960px;
  margin: 0 auto;
  padding: 25px 0;
}
.container .contents .navbar-title {
  display: inline;
  font-size: 32px;
  line-height: 38px;
}
.container .contents .navbar-username > a {
  color: #000 !important;
  font-weight: bold;
}
.navbar .navbar-username .container .contents > a:link,
.navbar .navbar-username .container .contents > a:visited {
  text-decoration: none;
}
.navbar .navbar-username .container .contents > a:hover,
.navbar .navbar-username .container .contents > a:active,
.navbar .navbar-username .container .contents > a:focus {
  text-decoration: underline;
}
.container .contents a.topicword {
  cursor: pointer;
}
.container .contents a.topicword:hover {
  background: #f0f0f0;
}
.container .contents .list .listtitle a:link,
.container .contents .list .listtitle a:visited {
  text-decoration: none;
}
.container .contents .list .listtitle a:hover,
.container .contents .list .listtitle a:active,
.container .contents .list .listtitle a:focus {
  text-decoration: underline;
}
.container .contents .list .listdate,
.container .contents .list .listview {
  display: inline-block;
}
.container .contents .main .separator1,
.container .contents .main .separator2 {
  border-top: 1px solid #e7e7e7;
}
.container .contents .main .separator1 hr,
.container .contents .main .separator2 hr {
  display: none;
}
.droppable-hover {
  background: #fdd;
}
.fade-layer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
.fade-layer > img {
  width: 130px;
}
/*# sourceMappingURL=viewarticle.css.map */